
 /*TEST ZONE ---------------------------------------------------- */
 

	 .fix1 {
	 	border: 2px solid blue;
	 }
	  .fix2 {
	 	border: 2px solid red;
	 }
	  .fix3 {
	 	border: 2px solid lime;
	 }
	/*WRAPS AROUND ALL 3 ARTICLES*/
 	.post_related_items {
	    display: grid;
	    justify-content: space-between;
	    grid-template-columns: repeat(4,1fr);
	    grid-gap: 1em;
	    /*border: 5px dotted #f0f;*/
	}
	@media only screen and (max-width: 767px) {
		.post_related_items {
			grid-template-columns: repeat(1,1fr);
		}
		.post_share {
			display:none;
		}
		.post_subscribe {
			display:none;
		}
		.wrap_post_subscribe {
			display: none;
		}
	}

	/*EACH ARTICLE.*/
	.post_related_item {
	    /*position: relative;*/
	    border-radius: 3px;
	    background: #fff;
	    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
	    overflow: hidden;
	    /*display: block;*/

	    /*border: 5px orange dashed;*/
	}
	.post_related_item img {
	    display: block;
	    max-width: 100%;
	    /*margin-bottom: 15px;*/
	}
	#post_text {
		padding:15px;
		font-family: Avenir, sans-serif !important;
	}

	.post_related_items h2 {
		font-size: 22px;
		font-family: Avenir, sans-serif;
		font-weight: bold;
		padding:10px 0;
		line-height: 1.1em;
	}
	.post_related h6 {
		text-transform: uppercase;
		padding-bottom: 5px;
	}
	.post_related button {
		background:none;
		color:#C6131E;
		text-transform: uppercase;
		font-size: 14px;
		margin:0;
		padding:10px 0;
	}



 	/* - END TEST ZONE -------- */


/*==================================================================================
GLOBAL STYLES*/

/*--- NOTES TO SELF ---*/

	.replace_w_contentful {
		background:rgba(35, 175, 186, 0.10);
		z-index: 99999;
		

	}
	.replace_w_supplied {
		background: yellow;
		color:#000000;
	}
	.meg_to_edit{
		background: rgba(255, 181, 28, 0.50);
		color:#000000;
	}
	/* ---- END ------------------ */


*,
*::before, 
*::after {
	margin:0;
	padding:0;
	box-sizing: inherit;
}
html {
	font-family: Avenir, Nunito, sans serif;
	font-size:16px;
	box-sizing: border-box;
}
a {
	text-decoration: none;

}
p a {
	color: #C6131E!important;
}
ul {
	list-style:none;
}
img {
	width:100%;
	/*padding:35px 0;*/
}

h1 {
	font-size: 100px;
	font-weight: 900;
	line-height: 1em;
}
h2 {
	font-family: adobe-garamond-pro, serif;
	font-weight: 600;
	/*font-style: normal;*/
	font-size: 50px;
	color: #000000!important;
	line-height: .9em;
	padding:15px 0;
}
footer a {
	color:#ffffff;
}
footer a:visited {
	color:#ffffff;
}
footer a:hover {
	color:#C6131E;
}

a {
	color:#000000;
}
a:visited {
	color:#000000;
}
a:hover {
	color:#C6131E;
}
h3 {
	text-transform: uppercase;
	font-size: 25px;
	line-height: 1.3em;
	padding:15px 0;
}
h4 {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 1.3em;
	padding-top:10px;
	padding-bottom:15px;
}
h5 {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.3em;
	padding-top:10px;
	/*padding-bottom:15px;*/
}
p {
	padding-bottom: 15px;
	font-family: adobe-garamond-pro, serif;
}
ul {
	font-family: adobe-garamond-pro, serif;
}
ol {
	font-family: adobe-garamond-pro, serif;
	padding-left:25px;
	padding-bottom: 15px;
	
}
ol li {
	padding:3px 5px;
}
code {
	background:#f0f;
	color:#ffffff;
}
@media only screen and (max-width: 767px) {
	h1 {
		font-size: 80px;
	}
	h2 {
		font-size: 40px;
	}
	h3 {
		font-size: 20px;
	}
}
button {
	color:#ffffff;
	background: #C6131E;
	border-radius:6px;
	padding: 6px 10px;
	margin:15px 0px;
	font-family: Avenir, sans-serif;
	font-weight: 500;
	font-size:16px;
	text-transform: uppercase;
	border:0px;
	cursor: pointer;

	}
	button i {
		color:#ffffff;
		padding: 2px 0px 2px 15px;
	}
	button i:hover {
		padding-left: 25px;
		transition: all 0.1s ease-in-out;
	}
.btn-white {
	background: white;
	color:black;
	text-transform: uppercase;
	padding:8px 0;
	width:125px;
	border-radius: 6px;
	margin:10 auto;
	/*max-width:125px;*/
	font-size: 16px;
	}
	.btn-white i {
		color:#000000;
		padding: 2px 0px 2px 15px;
	}
	.btn-white i:hover {
		padding-left: 25px;
		transition: all 0.1s ease-in-out;
	}
	

.site-notice {
	display: none;

	position: fixed;

	top: auto;
	left: auto;
	right: auto;
	bottom: 5px;

	/*width:100%;*/
	padding: 0.5em;
	text-align: left;
	z-index: 9999;
	text-align: center;
	}
	.site-notice li {
		padding-bottom: 15px;
		font-size: 10px;
		display: inline;
	}
	.site-notice a {
		color:#fff;
		text-transform: uppercase;
		background: #ff00ff;
		padding: 6px 15px;
		margin: 25px 0;
		border-radius: 2px; 
		font-size: 22px;
	}

.border_box {
	border-top:10px solid #C6131E;
	border-bottom:10px solid #C6131E;
	padding:35px 0px;
}

	/*STYLES FOR POPUP ON @HOME*/
		/*   This is the background overlay   */
		.backgroundOverlay {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;

			background: #000000;
			opacity: .65;
			filter: alpha(opacity=65);
			-moz-opacity: .85;
			z-index: 101;
			display: none;
		}
		/*   This is the Popup Window   */
		.delayedPopupWindow {
			display: none;
			position: fixed;
			width: auto;
			max-width: 600px;
			top: 50%;
			left: 50%;
			margin-left: -300px;
			margin-top: -300px;
			/*background-color: #efefef;*/
			/*border: 2px solid #333;*/
			z-index: 102;
			
		}


		.popup_close{
				color:#C6131E;

				position: absolute;
				top:0;
				right:0;
				padding-right:15px;
				margin:0px;

				display: grid;
				grid-template-columns: 9fr 1fr;
				grid-gap:0px;
				justify-items: end;
				align-items: center;
			
			}
			.close h3 {
				font-size: 1.2em;
				padding:0px;
				margin:0px;
				color:#C6131E;
			}
			.close_x h3 {
				line-height: 0.9;
				font-size: 4em;
				padding:5px;
				margin:0px;
				color:#C6131E;

			}


		/*   This is the closing button  */
		#btnClose {
			width:100%;
			/*display: block;*/
			text-align: right;
			text-decoration: none;
			color: #C6131E;
			/*padding: 10px 20px;*/
		}
		/*   This is the closing button hover state  */
		#btnClose:hover {
			color: #C6131E;
		}


		/*styles from test.css*/
		.popup_form {
		  	/*border: 3px dotted #f0f;*/
		    background: #C6131E;
		  	padding:35px 35px 75px 35px;
		}
		.popup_form input {
		    width:98%;
		    background:none;
		    border:0px;
		    border-bottom: 1px solid white;
		    padding: 6px 0;
		    margin: 15px 0px;
		    font-size:18px;
		    color: #ffffff !important;    
		}
		.popup_form ::placeholder {
			text-transform: uppercase;
			color:#ffffff;
			opacity: 1 !important;
		}


		.popup_header {
		  /*border: 3px dotted orange;*/
		  background:white;
		  padding:25px;
		  display:grid;
		  grid-template-columns: repeat(5,1fr);
		  justify-items: end;
		  align-items: center;
		}
		.popup_title {
		  /*border: 3px dotted green;*/
		  grid-column: 1/4;
		  grid-row:1;
		}
		.popup_title h2 {
			color:#C6131E !important;
		}
		.popup_image {
		  /*border: 3px dotted black;*/
		  grid-column: 3/6;
		  grid-row:1;
		  margin-top: 15px;
		  margin-right:-40px;
		  text-align: right;
		}
		.popup_image img {
		  max-width:80%;
		}

		
		@media only screen and (max-width: 767px) {
			#delayedPopup {/* .popup */
				margin:0px;
				/*background: #f0f;*/
				width:100%;
				min-width:380px;
				/*min-height:100% !important;*/
				position: fixed;
				top:0;
				right:0;
				bottom:0;
				left:0;
			}

			.popup_title {
				/*  background: pale green; */
				grid-column: 1/6;
				grid-row:2;
				}
			.popup_image {
				/* background: black; */
				grid-column: 1/6;
				grid-row:1;

				}
			.popup_image img {
				max-height:300px;
				}
		}

/* --- END GLOBAL STYLES -------------------------------------------------- */


/*========= HEADER STYLES =======================================================*/
	header {
		background: #C6131E;
		width:100%;
		/*height: 5rem;*/
		/*	position:absolute;
		top:0;
		left:0;
		z-index:1;*/
		}
	header a {
		color:#ffffff;
		}

	.container {
		width:100%;
		max-width:1280px;
		margin: 0 auto;
		padding: 10px 0px;
		}
			
		@media only screen and (max-width: 767px) {
			.container {
				padding:35px;
				margin:0;
			}
			.feature-img .container {
				padding:0;
			}
			.signup_large .container {
				padding:0px !important;
				margin:0px !important;
				background: #C6131E;
				width:100%;
			}
		}

	nav {
		width:100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		/*padding:35px 0;*/
		/*border: 2px solid yellow;*/
	}
	.nav-brand {	
		width:100px;
		padding:5px;
	}


	 /*--- menu header nav --- */
	.menu {
		z-index: 9999;
	}
	.menu .nav-brand {
		display: none;
	}

	.nav-list {
	    text-align: right;
	    height: 70px;
	    line-height: 70px;
	    /*border: 2px solid green;*/
	}

	.menu a {
	    clear: right;
	    text-decoration: none;
	    color: #ffffff;
	    /*background: #ff00ff;*/
	    margin: 0 0 0 35px;
		text-transform: uppercase;
		font-size: 25px;
		font-weight: bold;
		/*border: 2px solid purple;*/
	}


	/* ---- mobile navigation ----------------------------------------------------- */

	/*THIS IS THE HAMBURGER. SHOULD _ONLY_ SHOW ON <500PX*/
	label {
	    /*margin: 0 40px 0 0;*/
	    font-size: 75px;
	    line-height: 70px;
	    display: none;
	    width: 26px;
	    float: right;
	    color: #ffffff!important;
	    /*border: 3px solid yellow;*/
	}
	#toggle {
	    display: none;
	}

	@media only screen and (max-width: 767px) {

	    .menu .nav-brand {
	    	margin-bottom:125px;
	    }
	    label {
	        display: inline;
	        cursor: pointer;
	        color: #C6131E;
	        text-transform: uppercase;
	    }
	    label i {
	    	font-size:45px;
	    	padding: 35px 0;
	    	margin:0px;
	    }
	    .nav-brand {
			display: inline;
			width:100px;
		}
		.menu .nav-brand {
			display: inline;
			padding-left:0px;
			width:100px;
		}
	    .menu {
	        background: #ffffff;
	        text-align: left;
	        width: 100%;
	        display: none;
	        position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transition: all 0.3s ease-in-out;
			padding: 35px 35px;
	    }
	    .menu a {
	        color: #C6131E;
	        display: block;
	        margin: 0;
	        line-height: 1.5em;
		    font-family: adobe-garamond-pro, serif;
			font-weight: 600;
			font-size: 45px;
			text-transform: none;
	     
	    }
	    #toggle:checked + .menu {
	        display: inline;
	        background:#ffffff;
	    }
	    #toggle:checked + .menu i{
	        color: #C6131E;
	    }
	    .menu_header {
	    	display: grid;
	    	grid-template-columns: repeat(2,1fr);
	    	width:100%;
	    }
	    .nav-list {
	    	margin: 10px 35px 0 0;
	    }
	    nav {
	    	align-items: start;
		}
	}

/*============== MAIN SECTION STYLES ========================================*/

body {
	/*background: #C6131E;*/
}
section {
	background: #ffffff;
	/*padding:75px 0px;*/
	margin:0;
}
.hero {
	background: #C6131E;
	padding:0 0 75px 0px;
	max-height:100vh;
	margin-bottom:35px;
}
.hero a {
	color:#ffffff;
}
.hero h1,h2 {
	color:#ffffff;
	/*text-align: right;*/
}
.hero h2 {
	text-align: right;
}

@media only screen and (max-width: 767px) {
	.hero {
		background: #C6131E;
		/*padding:0 30px;*/
		max-height:100vh;
	}
	.hero a {
		color:#ffffff;
	}
	.hero h1 {
		font-size: 2.8em;
	}
	.hero h2 br {
		display: none;
	}
}

/* ------ @home 
BLOG POST SECTION ------------------------------- */


	.blog_post {
	    display: grid;
	    grid-template-columns: 1fr 2fr;
	    grid-gap: 35px;
	    overflow: hidden;
	    margin:38px 0px;
	    /*border: 5px green solid;*/
		}
	.blog_post_pod {
	    display: grid;
	    grid-template-columns: 1fr 1fr;
	    grid-gap: 35px;
	    overflow: hidden;
	    margin:38px 0px;
	    /*border: 5px green solid;*/
		}
		@media only screen and (max-width: 767px) {
			.blog_fullwidth .container {
				margin:0;
				padding:0;
			}

			.blog_post {
				grid-template-columns: 1fr;
				grid-gap: 0;
			}
			.blog_post_pod {
				grid-template-columns: 1fr;
				grid-gap: 0;
			}
			.post_img {
				margin:0px !important;
				padding:0 !important;
				height: 200px !important;
				grid-row: 1;
			}
			.post_img2 {
				height: 200px !important;
			}
			.post_img3 {
				height: 150px !important;
			}
			.blog_text {
				
				padding:10px 35px;
			}
			.blog_fullwidth h3 {
				padding:0 35px;	
			}
			.blog_fullwidth .blog_text h3 {
				padding:0 ;	
			}
		}
	.blog_text {
		grid-row: 1;
		padding:10px 35px 10px 0px;
	}	
.blog_text_pod {
		grid-row: 1;
		padding:10px 0px;
	}
	.blog_image {
	    display: inline-block;
	    position: relative;
	    right: -50%;
	}
	.blog_image img {
	    position: relative;
	    left: -50%;
	    width:105%;
	    height:105%;

	    object-fit: cover;
	}
	.post_img {
		width:100%;
		height:350px;
	 	background-size: cover;
		overflow: hidden;
		padding:20px !important;

		grid-row: 1;
		/*grid-column: 2/4;*/
				/*border: solid red 5px;*/

		margin:15px 0 35px 0;
	}
	.post_img2 {
		width:100%;
		height:450px;
	 	background-size: cover;
		overflow: hidden;
		padding:20px !important;
		/*border: solid blue 5px;*/	
	}
	.post_img3 {
		width:100%;
		height:250px;
	 	background-size: cover;
		overflow: hidden;
		padding:20px !important;
		/*border: solid #f0f 5px;	*/
	}

	/* ----- added from tut */
	.bg-center-center {
		-ms-background-position-x: center;
		-ms-background-position-y: center;
		background-position: center center; 
	}

	/*trying to get 16x9 image 1x1 grid*/
	.blog_post_dl {
		/*display: grid;*/
	    /*grid-template-columns: 1fr;*/
	    grid-gap: 35px;
	    width:100%;
	    height: 50%;
	    /*overflow: hidden;*/

	    margin:38px 0px;
	}
	.blog_image_dl {
		display: inline-block;
	    position: relative;
	    right: -50%;
	}
	.blog_image_dl img {
		/*grid-template-columns: 1fr;*/
		padding:35px 0px;

	    position: relative;
	    left: -50%;
	    width:105%;
	    height:105%;

	    /*object-fit: cover;	*/
	}


	.download_wallpaper {
		display: none;
	}

	.download_wallpaper .blog_text {
		padding:35px 0px;
	}


/*  email sign up slim @home ---------------*/

	.email_slim {
		background:#C6131E;
		color:#ffffff;
		padding: 10px;
		/*border: 5px blue dotted;*/
	}
	.email_slim br {
		display: none;
	}
	.email_slim_form h3 {
		display: none;
	}
	.email_slim_form {
		min-width:450px;	
		/*border: dotted 5px yellow;*/
		display: grid;
		grid-template-columns: 3fr 5fr 1fr;
		align-items: center;
		grid-gap: 1em;
		justify-content: center;
		}
		@media only screen and (max-width: 767px) {
			.email_slim {
				padding:0;
				margin:0px;
				width:100%;
			}
			.email_slim_form {
				grid-template-columns: 1fr;
				min-width: 200px;
			}
			.email_slim_form h2 {
				font-size: 3em !important;
			}
			.email_slim_form h3 {
				display: block;
			}
			/*.e_slm_form_input {
				width:100%;
				margin:0px;
			}*/
			
		/*errors 👇*/
			.email_slim input ::placeholder {
			
				display: none !important;
			}

			.email_slim_form input {
				/*max-width:98%;*/
				/*margin-right: 50px !important;*/
			}
			.email_slim button {
				margin:10px 0px;
			}
			.email_slim br {
				display: block;
			}
			.email_signup_slim .container{
				width:100%;
				margin:0px;
				/*padding:35px;*/
				background: #C6131E;
			}

		}

	.email_slim_form input[type="email" ] {
	  	padding:10px;
	}
	.email_slim_form input{
		width:100%;
		background:none;
		border:0px;
		border-bottom: 1px solid white;	
		padding: 6px 10px;
		/*margin: 0 15px;*/
		font-size:18px;
		color: #ffffff;
		
		/*font-weight: 600;*/
	}
	.email_slim button {
		margin:10px 15px;

	}
	.email_slim h2 {
		color:#ffffff!important;
		/*padding:.3em;*/
		font-size: 2em;
	}
	.email_slim_form ::placeholder {
		text-transform: uppercase;
		color:white;
		opacity: 1;
	}
	.email_slim_form input:focus {
	  background-color: white;
	  color:#C6131E;
	  border:0px!important;
	}
	.email_slim_form button:focus{
		/*border:0px;*/
	}


/* stats section @home --------------------------------*/

	/*.stats_x3 {
		display:grid; 
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1em;
		justify-content: space-between;
	}*/
	.stats_1 {
		/*background:#C6131E;*/
		height:100%;
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;	
	}
	.stats_x3 img {
		padding:0!important;
	}

	.stats_x3 h2 {
		font-size: 3em;
		/*line-height: 1.3em;*/
	}
	.stats_x3 h3 {
		font-size:2em;	
	}

	.stats_1 h2 {
		color:#C6131E!important;
		text-align: center;
		line-height: 1.5em;
		padding:35px 15px;
		font-weight: bold;
	}
	.stats_1 h2 span {
		text-decoration: underline;
		font-size: 125px;
	}
	.stats_2 h2 {
		color:#C6131E;
	}
	.stats_2 {
		background:#ffffff;
		border:1px solid black;
		object-fit: contain;
	}
	.stats_2 img {
		width:100%;
		height:100%;
		max-height: 310px;
		overflow: hidden;
	}
	.frame {
		width:100%;
		height:100%;
	 	background-size: cover;
		overflow: hidden;
		
		/*margin:15px 0 35px 0;*/
	}

/* --- @discover page (vision section) ---------------*/
	.main-message {
		padding:175px 0 35px 0;
	}

	.vision_layout_item {
	  display: grid;
	  grid-template-columns: 1fr 2fr 5fr;
	  grid-gap: 2em;
	}
	.vision_point {
		/*min-width:200px;*/
		grid-row:1;
	}
	.vision_rule {
		width:80%;
		border-top:2px dotted;
		margin:25px 0px;
		grid-row:1;
	}
	.vision_details {
		/*width:50%;*/
		font-size: 22px;
		grid-row:1;
	}
	.vision_layout p {
		font-size: 35px;
	}

	@media only screen and (max-width: 767px) {
			.main-message {
				padding:0;
			}
			.vision_layout_item {
				grid-template-columns: 1fr 3fr;
				padding: 15px 0;
				grid-gap: .3em;
			}
			.vision_layout h2 {
				color:#ccc !important;
				font-size: 22px;
				font-family: Avenir, sans-serif;
				text-transform: uppercase;
				padding:0px;
				margin:0;
				/*line-height: .9em;*/
			}
			.vision_layout p {
				font-size: 22px;
				padding: 0 0 10px 0;
			}
			.vision_rule {
				display:none;
			}
			.vision_point {
				padding:0px;
				margin:0px !important;
			}
		}

		/*END DISCOVER*/


/*--- EMAIL SIGN UP LARGE ---*/

	/*.signup_large {}*/

	.signuplrg_wrapper {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-column-gap: 1em;
		grid-row-gap: 1em;
		align-items: start;
		/*margin:0px;*/
	}
	/*.signup-large> div {}*/
	.signuplrg_details {
		grid-column: 1/5;
	  	grid-row:1;
		background: #C6131E;
		padding:75px 55px;
		min-width:66%;
		}
		

	.signup_large h2 {
		color:#ffffff!important;
	}
	.signup_large h3 {
		font-size: 16px;
		line-height: 1em;
		padding-bottom:15px;
		color:#ffffff;
	}
	.signuplrg_image {
		grid-column: 2/7;
	  	grid-row:1;
	  	padding-left:115px;
	  	/*border:1px black dotted;*/
	  	/*margin-top:-75px;*/
	  	margin-left: auto;
	  	margin-right:-80px;

		max-width: 66%;
	  	align-self: start;
	}

	.signup_large input{
		width:100%;
		background:none;
		border:0px;
		border-bottom: 1px solid white;
		padding: 6px 10px;
		margin: 15px 0px;
		font-size:18px;
		color: #ffffff;
		
		opacity:	1;
		/*font-weight: 600;*/
	}
	.signup_large ::placeholder {
		text-transform: uppercase;
		color:white;
		opacity: 1;
	}
	.signup_large input:focus {
	  background-color: white;
	  color:#C6131E;
	  border:0px;
	}
	.signup_large button:focus{
		border:0px;
	}

	@media only screen and (max-width: 767px) {
			.signuplrg_wrapper {
				/*padding:20px !important;*/
				margin:0;
				background: #ffffff;
			}
			.signuplrg_details {
				padding:15px !important;
				margin:0px;
				grid-row: 2;
				grid-column: 1/7;
				background: none;
			}
			.signuplrg_image {
				padding:0px;
				margin:0px;
				
				grid-row: 1;
				grid-column: 1/7;
				background:#ffffff;
			}
			.signup_large img {
				width: 300px !important;
			}
			
			.signup_large h2 {
				color:#C6131E !important;
			}
			.signup_large h3{
				display: none;
			}
			/*FORM*/
			.signup_large input{
				width:100%;
				background:none;
				border:0px;
				border-bottom: 1px solid #C6131E;
				padding: 6px 10px;
				margin: 15px 0px;
				font-size:18px;
				color: #C6131E;
				opacity:	1;
			}
			.signup_large ::placeholder {
				text-transform: uppercase;
				color:#C6131E;
				opacity: 1;
			}
			.signup_large input:focus {
			  background-color: white;
			  color:#C6131E;
			  border:0px;
			}
			.signup_large .btn-white {
				background: #C6131E;
				color:#fff;
			}
			.signup_large button:focus{
				border:0px;
			}
			.signup_large .btn-white i {
				color:#fff;
			}
		}


/*-------- @Learn page --------------------------------*/

	.learn_overview {
		display: grid;
		grid-template-columns: /*1fr 1fr OR */repeat(2, 1fr);
		grid-gap: 1em;
		padding:35px 0 0 0 ;
		}
		@media only screen and (max-width: 767px) {
			.learn_overview {
				grid-template-columns: 1fr;
			}
			.learn_overview button {
				margin:0 0 15px 0;
				background: none;
				font-size: 14px;
				color:#C6131E;
				padding:0;
			}
			.learn_overview button i {
				color:#C6131E;
			}
			.blog_grid a button {
				padding:0 !important;
				margin: 0 0 15px 0;
				text-align: left;
			}
		}

	.learn_intro {
		padding-bottom: 35px;
	}
	.learn_browse_latest {
		/*padding:35px 0px;*/
	}
	.learn_browse_items  {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1em;
		align-items: start;
	}
	.learn_browse_image {
		width: 100%;
		margin: 0 auto;
		height: 300px;
		overflow:hidden;
	}
	.learn_cat_items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 2em;
		align-items: start;
	}
	.learn_cat_item {
		background:#ffffff;
		box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin:15px 0px;
	}
	.learn_cat_item_img {
		width: 100%;
		/*margin: 15px auto;*/
		height: 250px;
		overflow:hidden;
	}
	.learn_cat_item_img img {
		padding:0px!important;
	}
	.learn_cat_item_meta {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1em;
		align-items: start;
		padding:0 0 15px 0;
		margin:8px 5px;
	}
	.learn_cat_item_words {
		padding: 5px 15px;
	}
	.post_cat_item .post_img2 {
		height:100%;
	}
	 /*--- @learn / blog ------------------------------ */
	 .post_share {
	 	display:none;
	 	background: #C6131E;
	 	padding:15px;
	 	margin:10px;
	 	text-align: center;
	 	/*max-width: 7%;*/
	 	position: fixed;
	 	/*top:30%;*/
	 	/*left:0;*/ 
	 }
	 .post_share h3 {
	 	color:white;
	 }
	 .post_share i {
	 	color: #ffffff;
	 	font-size: 20px;
	 	padding:5px;

	 }
	 
	 .post_content {
	 	/*position: absolute;*/
	 	min-height: 600px;
	 	
	 }
	 .post_subscribe {
	 	position: relative;
	 	background: #C6131E;
	 	/*width: 25%;*/
	 	float: right;
	 	/*margin:35px 0 35px 25px;*/
	 	padding:25px;
	 }
	.post_subscribe h2 {
		color: #ffffff!important;
		font-size: 55px;
		line-height: .8em!important;
	}
	.post_subscribe input {
		    width:98%;
		    background:none;
		    border:0px;
		    border-bottom: 1px solid white;
		    padding: 6px 0;
		    margin: 15px 0px;
		    font-size:18px;
		    color: #ffffff !important;    
		}
		.post_subscribe ::placeholder {
			text-transform: uppercase;
			opacity: 1;
		}
	/*add in wrap and floatRight*/

	.wrap_post_subscribe {
	  /*border:2px solid black;*/
	  height:450px;
	  width:25%;
	  /*text-align:center;*/
	  margin:35px;
	  margin-right: 0;
	  color:black;


	  /*position: fixed;*/
	  /*bottom:15px;*/
	}

	.floatRight {
	  float: right;
	}


	/*----- @learn / stories ------------------------------*/
	.blog_fullwidth {
		margin-bottom: 35px;
	}
	.blog_grid {
	    display: grid;
	    justify-content: space-between;
	    grid-template-columns: repeat(4,1fr);
	    grid-gap: 1em;
		}
		@media only screen and (max-width: 767px) {
			.blog_grid {
				grid-template-columns: repeat(1,1fr);
			}
			.whats_happening .container {
				width:100%;
				margin:0px;
				padding:0px;
				/*background: #C6131E;*/
				/*background: #f0f;*/
			}
			/*.? h3 padding*/
			.whats_happening h3 {
				padding:5px 35px;
			}
			/*.? blog text padding*/
			.blog_text_dl{
				padding:10px 35px;
			}
		}
	.blog_grid_item {
	    border-radius: 3px;
	    background: #fff;
	    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
	    overflow: hidden;
	}
	.blog_grid_item h2 {
		font-size: 22px;
		font-family: Avenir, sans-serif;
		font-weight: bold;
		padding:10px 0;
		line-height: 1.1em;
	}




	 /*---- @learn / videos ---------------------------------*/

	/*.recent_videos {
	}*/
	.video_by_year {		
		display: grid;
		grid-template-columns: repeat(2,1fr);
	}
	.video_by_year h2 {
		font-size: 25px;
	}
	.recent_videos h3 {
		/*font-size: 55px;*/
		font-family: Avenir, sans-serif;

	}

	@media only screen and (max-width: 767px) {
		
		.video_list .container {
			width:90%;
			margin: 0 auto;
			padding:0!important;
		}
		.video_by_year {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 1em;
			justify-content: space-between;
		}
		.recent_videos iframe {
			max-width:90vw;
			height:100%;
			margin:0 auto;
			text-align: center;
		}
		.video_by_year h2 {
			font-size: 18px;
			/*padding-top: 7px;*/
			padding: 7px 35px 30px 35px;
		}
		.video_item {
			text-align:center;
		}

	}


	/*---- @learn / podcast ---------------------------------*/
	.tune_in {
		padding:35px;
		text-align: center;
	}
	.tune_in a{
		color: #C6131E;
	}
	.tune_in {
		font-size:;
	}

	.mejs__player {
		width:100%;

	}
	.controls {
		/*color: pink;border:5px solid red;*/
	}
	#lrg_signup_podcast {
		background:#f7f7f7; 
		margin-top: 75px; 
		padding:35px;
	}
	#lrg_signup_podcast .signup_large {
		background: none !important;
	}
	.scroll_top {
	    text-align: center;
	    background: rgba(0,0,0,.4);
	    text-decoration: none;
	    position: fixed;
	    z-index: 99999;
	    bottom: 125px;
	    right: 0;
	    -webkit-border-top-left-radius: 5px;
	    -webkit-border-bottom-left-radius: 5px;
	    -moz-border-radius-topleft: 5px;
	    -moz-border-radius-bottomleft: 5px;
	    border-top-left-radius: 5px;
	    border-bottom-left-radius: 5px;
	    display: none;
	    cursor: pointer;
	    font-size: 30px;
	    padding: 5px;
	    color: #f0f;
	}

	/*PODCAST INTRO SECTION*/
	/* --- PODCAST PAGE IMAGE SHADOWS --- */
	.learn_h1 h1{
		font-size: 45px;
	}
	.pod_pic_blurb {
		width:100%;
		margin:40px auto;
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-gap: 1em;
		justify-content: start;
	}
	
	.box {
		width:400px;
		height:400px;
		background-image: url("/imgs/pod-cover.png");
		margin:auto 40px ;
		}
	.pod_pic {
		position: relative;
		margin:40px auto;
		}
	.pod_pic:before, .pod_pic:after {
		z-index: -1; 
	    /*z-index: 1;*/
		position: absolute;
		content: "";
		bottom: 12px;
		left: 5px;
		width: 48%;
		top: 80%;
		max-width:313px;
		background: #777;

		-webkit-box-shadow: 0 15px 10px #777;
		-moz-box-shadow: 0 15px 10px #777;
		box-shadow: 0 15px 10px #777;
		-webkit-transform: rotate(-3deg);
		-moz-transform: rotate(-3deg);
		-o-transform: rotate(-3deg);
		-ms-transform: rotate(-3deg);
		transform: rotate(-3deg);
		}
	.pod_pic:after
	{
	  -webkit-transform: rotate(3deg);
	  -moz-transform: rotate(3deg);
	  -o-transform: rotate(3deg);
	  -ms-transform: rotate(3deg);
	  transform: rotate(3deg);
	  right: 10px;
	  left: auto;
	}


	.pod_blurb {
		margin:40px auto;
	}
	.pod_blurb p, .pod_blurb h5 {
		font-size: 22px;
	}
	.recent_podcasts {
		display: grid;
		grid-template-columns: repeat(3,1fr);
		grid-gap: 2em;
		/*max-width: 100%;*/
		/*padding:0 15px;*/
	}
	.podcast_img {
		height:400px;
	 	background-size: cover;
		overflow: hidden;
		margin:15px 0;
	}
	@media only screen and (max-width: 767px) {
		.podcast h1{
			font-size: 40px;
		}
		.podcast_list h3{
			padding-left:35px;
		}
		.box {
			width:275px;
			height:250px;
			margin:0;
		}
		.pod_pic_blurb {
			grid-template-columns: 1fr;
			margin:35px auto;
		}
		.recent_podcasts {
			grid-template-columns: repeat(1,1fr);
		}
		.podcast_img {
			/*height:250px;
			width:250px;*/
		}
		#pod_text {
			/*width:250px;*/
			padding:35px;
		}
	}

	/*BACK TO TOP BUTTON*/
	#myBtn {
		display: none; /* Hidden by default */
		position: fixed; /* Fixed/sticky position */
		bottom: 20px; /* Place the button at the bottom of the page */
		right: 30px; /* Place the button 30px from the right */
		z-index: 99; /* Make sure it does not overlap */
		border: none; /* Remove borders */
		outline: none; /* Remove outline */
		background-color: rgba(198, 19, 30, 0.33); /* Set a background color */
		color: white; /* Text color */
		cursor: pointer; /* Add a mouse pointer on hover */
		padding: 15px 25px; /* Some padding */
		border-radius: 5px; /* Rounded corners */
		
	}
	#myBtn i {
		font-size: 18px; /* Increase font size */
		padding:0;
	}

	#myBtn:hover {
		background-color: #C6131E; /* Add a dark-grey background on hover */
	}	


/* --- @engage page -------------------------------- */

	.engage_intro h2 {
		color:#000000;
		font-weight: 600;
		font-size: 50px;
		line-height: 1em;
	}
	.engage_intro_grid {
		display: grid;
		justify-content: space-between;
		grid-template-columns: repeat(3,1fr);
		}
		@media only screen and (max-width: 767px) {
			.engage_intro_grid {
				grid-template-columns: 1fr;
			}
		}

	.engage_intro_grid_white {
		min-width:33%;
		border: solid 1px black;
		padding:15px;
		margin:35px 8px;
	}
	.engage_intro_grid_grey {
		background:#383838;
		min-width:32%;
		border: solid 1px black;
		padding:15px;
		margin:35px 8px;
	}
	.engage_intro_grid_grey h2 {
		color:#ffffff;
	}
	.engage_intro_grid_grey h3 {
		color:#ffffff;
	}
	.engage_intro_grid_grey p {
		color:#ffffff;
	}
	.engage_locally {
		display: none;
		background:#ffffff!important;
	}
	.engage_locally h2 {
		color:#C6131E;
		font-size: 30px;
	}
	.engage_locally .team_socials a {
		color:#000000;
	}
	.engage_locally .staff_profiles_row {
		padding:15px;
		margin: 15px;
	}
	.engage_share {
		background: #ffffff!important;

	}
	.engage_share h2 {
		color: #000000;
	}
	.engage_share_form {
		padding:35px 0px;	
		/*width: 66%;*/

	}


	.engage_share_form input{
		width:100%;
		background:none;
		border:0px;
		border-bottom: 1px solid #000000;
		padding: 6px 10px;
		margin: 15px 0px;
		font-size:14px;
		color: #000000;
		text-transform: uppercase;
	}
	.engage_share_form label {
		font-size:14px;
		color: #000000;
		text-transform: uppercase;
	}

	.engage_share_form textarea {
		width:100%;
		background:none;
		border:0px;
		border-bottom: 1px solid #000000;
		padding: 6px 10px;
		margin: 15px 0px;

		font-family: avenir, sans-serif;
		font-size:14px;
	}



	.field_container input {
		border:0px;
		border-bottom:1px #000000 solid;
		width:100%;
		padding: 5px 10px;
		margin:5px 0px;
		font-size: 16px;
		text-transform: uppercase;
		font-family: Avenir, sans-serif;
		font-weight: 500;
		line-height: 2em;
	}
	.field_container textarea {
		border:1px #000000 solid;
		width:100%;
		padding: 5px 10px;
		margin:5px 0px;
	}
	.field_container p {
		text-transform: uppercase;
		font-family: Avenir, sans-serif;
		font-weight: 500;
		font-size: 16px!important;
		/*color:#ff00ff;*/
		line-height: 2em;
		padding: 15px 10px 0px 10px;
	}

	.media_grid {
		display: grid;
		justify-content: space-between;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 1.5em;
		grid-row-gap: 1.5em;
		grid-auto-rows: minmax(100px, auto);
		/*align-items: */
	}

	.support_grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-content: space-between;
		grid-gap: 5em;
		}
		@media only screen and (max-width: 767px) {
			.support_grid {
				grid-template-columns: repeat(3,1fr);
				grid-gap: .5em;
				/*padding:35px;*/
			}
		}
	.media_grid_box, .support_grid_box {
		/*min-width: 32%;*/
		background:#ffffff;
		padding:0px 5px;
		/*padding:35px;*/


	}

	.engage_share_form {
		padding:15px 0px;
		width:100%;
	}
	.engage_media h2 {
		color:#000000;
	}

	.city_grid {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		justify-content: space-between;
		grid-gap: .8em;
		padding:15px 0;
		margin:0px;
		}
		@media only screen and (max-width: 767px) {
			.city_grid {
				grid-template-columns: repeat(2, 1fr);
			}
			.city_grid h2 {
				font-size: 18px;
				line-height: 2em;
				padding:0;
			}
			.city_grid i {
				font-size: 18px;
				padding:0;
				margin:0;
			}
			.city_grid ul {
				line-height: 1em;
				padding:0px;
				margin:0px;
			}
			.city_grid .team_socials {
				padding:0px;
				margin:0px;
			}
		}	
	.city_grid_item {
		/*background:pink;*/
		text-align: center;
	}
	.city_grid_item h2 {
		color:#C6131E!important;
	}
	.city_grid_item ul li{
		display:inline;
		padding: 0px 5px;

	}
	/*.engage_updates.post_img {
		width:100%!important;
		height:60vh !important;
	 	background-size: cover;
		overflow: hidden;
		
		margin:15px 0 35px 0;
	}*/


/* ---- @team page -------------------------------- */

	.staff_grid {
		/*padding:75px;*/
		display: grid;
		justify-content: space-between;
		grid-template-columns: repeat(4, 1fr);
		/*border: 2px dotted #ff00ff;*/
		grid-gap: 1em;
		/*margin*/
		}


	#staff_grid .photo {
		margin:35px 0;
	}
	.staff_member {
		min-width:25%;
		padding:0px 18px;
	}
	.staff_grid .city {
		color: #C6131E;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 1em;
	}
	.staff_grid h4 {
		font-family: adobe-garamond-pro, serif;
		font-weight: 400;
		/*font-style: normal;*/
		font-size: 45px;
		color: #000000!important;
		line-height: .9em;
		padding:15px 0;
		text-transform: none;
	}
	.staff_grid h2 {
		font-size: 50px;
		line-height: 1em;
		color: #000000;
	}
	.staff_grid h3 {
		color:#C6131E;
		font-size: 16px;
		/*line-height: .7em;*/
		font-family: avenir, sans-serif;
	}

	.team_socials {	
		padding:15px 0px;}
	.team_socials li {
		display:inline!important;	
		padding:10px 10px 10px 0px;
	font-size:2em;}
	.team_socials a {
		color: #000000;}
	.team_socials a:hover {	
		color:#C6131E;}

	@media only screen and (max-width: 767px) {
			.staff_grid {
			/*padding:75px;*/
			display: grid;
			justify-content: space-between;
			grid-template-columns: repeat(1, 1fr);
			/*border: 2px dotted #ff00ff;*/
		}
		/*.staff_profiles_row {
			display: flex;
			justify-content: space-between;
			padding:35px 0px;
		}*/
		.staff_grid .photo { /*not working*/
			padding:0;
			margin:20;
		}
		.staff_member {
			min-width:50%;
			/*padding:0px 18px;*/
		}
		.staff_grid .city {
			color: #C6131E;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 1em;
		}
		.staff_grid h4 {
			font-family: adobe-garamond-pro, serif;
			font-weight: 400;
			/*font-style: normal;*/
			font-size: 25px;
			color: #000000!important;
			line-height: .9em;
			/*padding:15px 0;*/
		}
		.staff_grid h2 {
			font-size: 25px;
			line-height: 1.3em;
			color: #000000;
		}
		.staff_grid h3 {
			color:#C6131E;
			font-size: 14px;
			/*line-height: .7em;*/
		}
	}


/* --- @CONTACT PAGE ------------------------- */

	.contact_section h2 {
		line-height: 1.3em;
		font-size: 40px;
		}
		@media only screen and (max-width: 767px) {
			.contact_address h2 {
				font-size: 22px;
			}
		}

	.contact_section h3 {
		line-height: 3em;
	}
	.contact_form {
		display: flex;
		/*grid-template-columns: repeat(2,1fr);*/
		width:100%;
		justify-content: space-between;
		padding:0px;
		margin:0;
	}
	.leave_message {
		width:50%;
		/*padding:0 35px;*/
	}
	.leave_message input{
		width:100%;
		background:none;
		border:0px;
		border-bottom: 1px solid #000000;
		padding: 6px 10px;
		margin: 15px 0px;
		font-size:14px;
		color: #000000;
		
	}
	.leave_message ::placeholder {
		text-transform: uppercase;
		opacity:1;
	}
	.leave_message label {
		font-size:14px;
		color: #000000;
		text-transform: uppercase;
	}

	.leave_message textarea {
		width:100%;
		/*height:100%;*/
		background:#f7f7f7;
		border:0px;
		border-bottom: 1px solid #000000;
		padding: 6px 10px;
		margin: 15px 0px;
		
		font-family: avenir, sans-serif;
		font-size:14px;
	}
	.leave_message textarea::placeholder {
		text-transform: uppercase;
	}


	@media only screen and (max-width: 767px) {
		.contact_form {
			display: block;
		}
		.leave_message {
			width:100%;
			padding:0;
			margin:0px;
		}
		.leave_message label {
			display:none;
		}

	}
	#thanks {
		/*height:50vh;*/
		margin:auto 0;
		padding:125px 0;
		text-align: center;
	}

/* === END MAIN SECTION STYLES ======================================  */




/*  ======== FOOTER STYLES ========================================*/

	footer {
		background: #383838;
		padding:35px 0 15px 0;
		text-align: center;
		color:#ffffff;
		margin-top:75px;
	}
	footer a {
		color:#ffffff !important;
		font-size: 14px;
	}
	footer p {
		font-family: Avenir, Nunito, sans serif;
	}
	footer ul {
		font-family: Avenir, Nunito, sans serif;
	}
	footer div {
		/*padding-bottom:35px;*/
	}
	.footer_bar {
		padding:0;
		text-align: right;
	}
	.footer_bar ul li {
		display: inline;
	}
	.footer_bar a {
		color: grey !important;
	}
	.footer_layout {
		display: grid;
		grid-template-columns: 3fr 1fr 1fr 1fr 1fr 2fr;
		align-items: start;
		text-align: left;
		line-height: 2em;
		padding-top: 35px;
	}

	.footer_layout > div {
		padding:0 15px;
		/*background:#f0f;*/
	}
	.footer_layout h4 {
		text-transform: uppercase;
		font-size: 16px;
	}
	.footer_layout li {
		font-weight: 300;
	}
	.footer_layout li i {
		padding:10px;
		font-size: 30px;
	}
	.footer_form input{
		width:90%;
		background:none;
		border:0px;
		border-bottom: 1px solid white;
		padding: 6px 10px;
		margin: 15px 0px;
		font-size:14px;
		color: #ffffff;
		
	}
	.footer_form ::placeholder {
		text-transform: uppercase;
	}
	
	.footer_socials ul li {
		display:inline;
	}
	.footer_socials a:hover {
		color:#C6131E;
	}
	.footer_icons li {
		display: inline-block;
	}
	.footer_icons li i {
		font-size:18px;
		padding:.3em;
	}
	footer img	{
		width:75px !important;
	}
	

/* --- errors --- */
.footer_contact {
	grid-template-columns: 1fr 2fr;
}
.footer_contact .nav_brand {
	padding:0 35px 0 0;
	grid-column: 1/2;
}

	@media only screen and (max-width: 767px) {
			.footer_layout {
				grid-template-columns: 1fr 1fr;
				padding: 0px;
				
			}
			.footer_layout > div {
				padding: 0 !important;
				margin:0;

			}
			.footer_contact {
				grid-column: 1/3;
			}
			h4 {
				padding-top: 35px;
				padding-bottom: 10px;
				line-height: .3em;
			}
			.footer_socials {
				margin:35px 0 !important;
				/*grid-column: 1/3;*/
				/*text-align: center;*/
			}
			
			/*errors*/
			.footer_layout i {
				font-size: 45px;
			}
			
		}


/* === END FOOTER STYLES ========================================== */