.container {
    max-width:1280px;
    margin:0 auto;
    /*border: 5px dotted orange;*/
}





/*===========  COPIED =============*/
h2 {
    font-family: adobe-garamond-pro, serif;
    font-weight: 700;
}
h3 {
    font-family: Avenir, Nunito, sans serif;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 1.3em;
}