/*popup main	*/



.popup {
	background: white;
	width:500px;
	position: fixed;
	top:50%;
	left:50%;
	margin-top:-350px;
	margin-left:-250px;
}
.popup_close{
		color:#C6131E;

		position: absolute;
		top:0;
		right:0;
		padding-right:15px;
		margin:0px;
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-gap:0px;
		justify-items: end;
		align-items: center;
	
	}
	.close h3 {
		font-size: 1.2em;
		padding:0px;
		margin:0px;
		color:#C6131E;
	}
	.close_x h3 {
		line-height: 0.9;
		font-size: 4em;
		padding:5px;
		margin:0px;
		color:#C6131E;

	}



.popup_form {
  border: 3px dotted #f0f;
    background: #C6131E;
  	padding:35px 35px 75px 35px;
}
.popup_form input {
	    width:98%;
	    background:none;
	    border:0px;
	    border-bottom: 1px solid white;
	    padding: 6px 0;
	    margin: 15px 0px;
	    font-size:18px;
	    color: #ffffff !important;    
	}
.popup_form ::placeholder {
		text-transform: uppercase;
		color:#ffffff;
		opacity: 1 !important;
/*     margin:10px 0; */
	}


.popup_header {
  border: 3px dotted orange;
  background:white;
  padding:25px;
  display:grid;
  grid-template-columns: repeat(5,1fr);
}
.popup_title {
  border: 3px dotted green;
  grid-column: 1/4;
  grid-row:1;
}
.popup_image {
  border: 3px dotted black;
  grid-column: 3/6;
  grid-row:1;
}
.popup_image img {
  max-width:100%;
}

@media  (max-width: 567px) {
	#delayedPopup { ./*popup */
		margin:0px;
		background: #f0f;
		width:100%;
		min-width:380px;
		min-height:100% !important;
		position: fixed;
		top:0;
		right:0;
		bottom:0;
		left:0;
		}

	.popup_title {
		/*  background: pale green; */
		grid-column: 1/6;
		grid-row:2;
		}
	.popup_image {
		/* background: black; */
		grid-column: 1/6;
		grid-row:1;

		}
	.popup_image img {
		max-height:300px;
		}

}
/*
---
BACKUP styles from 1.22pm 7 aug*/

/* --- POPUP STYLES ----------------------------------------------------- */

	.popup_overlay {
		background-color: rgba(0, 0, 0, 0.5);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: all 0.3s ease-in-out;
		
		/*opacity: 0;*/
		opacity: 1;
		/*z-index: -1;*/
	}
	
	.popup {
		background: white;
		width:500px;
		position: fixed;
		top:50%;
		left:50%;
		margin-top:-350px;
		margin-left:-250px;
	}
	.popup h2 {
		color:#C6131E !important;
		font-weight:600px;
	}
	.popup_close{
			color:#C6131E;

			position: absolute;
			top:0;
			right:0;
			padding-right:15px;
			margin:0px;
			display: grid;
			grid-template-columns: 2fr 1fr;
			grid-gap:0px;
			justify-items: end;
			align-items: center;
		
		}
		.close h3 {
			font-size: 1.2em;
			padding:0px;
			margin:0px;
			color:#C6131E;
		}
		.close_x h3 {
			line-height: 0.9;
			font-size: 4em;
			padding:5px;
			margin:0px;
			color:#C6131E;
		}

	.popup_form {
	  border: 3px dotted #f0f;
	    background: #C6131E;
	  	padding:35px 35px 75px 35px;
	}
		.popup_form input {
			    width:98%;
			    background:none;
			    border:0px;
			    border-bottom: 1px solid white;
			    padding: 6px 0;
			    margin: 15px 0px;
			    font-size:18px;
			    color: #ffffff !important;    
			}
		.popup_form ::placeholder {
				text-transform: uppercase;
				color:#ffffff;
				opacity: 1 !important;
		/*     margin:10px 0; */
			}


	.popup_header {
	  
	  background:white;
	  padding:25px;
	  display:grid;
	  grid-template-columns: repeat(5,1fr);
	}
	.popup_title {
	  grid-column: 1/4;
	  grid-row:1;
	}
	.popup_image {
	  grid-column: 3/6;
	  grid-row:1;
	}
	.popup_image img {
	  width:400px;
	}

	@media  (max-width: 567px) {
		.popup {
			margin:0px;
			background: #f0f;
			width:100%;
			min-width:380px;
			min-height:100% !important;
			position: fixed;
			top:0;
			right:0;
			bottom:0;
			left:0;
			}

		.popup_title {
			grid-column: 1/6;
			grid-row:2;
			}
		.popup_image {
			/*padding:35px;*/
			grid-column: 1/6;
			grid-row:1;
			text-align:right;
			}
		.popup_image img {
			/*max-height:80%;*/
			margin-right:-80px;
			padding:0px;
			}

	}
  /*END POPUP STYLES*/

