---
title: Blog | Resources
description: Blog
---

<!DOCTYPE html>
<html>
<head>
  <title> Movement - Blog</title>
</head>

<body>
<% posts = posts_and_videos %>

<!-- NAME & ARROW W RED BG -->
<section class="hero">
  <div class="container">
    <div class="main-message">
      <h1>Archive <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="recent_posts">
          <% posts.each do |index, post| %>
            <div class="post">
              <% if post['_meta']['content_type_id'] == 'video' %>
                <%= partial "partials/video_list_item", :locals => { :video => post, :include_description => true } %>
              <% else %>
                <%= partial "partials/post_list_item", :locals => { :post => post, :include_excerpt => true } %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div>
          <p style="text-align: center; font-size: 25px; color:grey; margin:75px;"> ~ end ~</p>
        </div>
  </div>
</section>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-up"></i></button>

</body>
</html>