<section class="hero">
  <div class="container">
    <div class="main-message">
      <h1> Learn <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>
<% posts = all_posts %>
<section>
<!-- 	<div class="post_share">
		<ul>
			<li><h3>Share</h3></li>
			<li>Facebook</li>
			<li>Email</li>
			<li>LinkedIn</li>
		</ul>
	</div> -->
	<div class="container">
		<div>
			<h3>Learn/post.tags</h3>
			<a href="">hero_image</a>
			<p>try this css on the image header<br>
				width:780px;
				height:400px;
				object-fit:cover;

			</p>
			<h3>post.tags</h3>
			<h2>post title</h2>
			<p>post.excerpt</p>
			<h4>post author</h4>
			<div class="border_box post_content">
				move red box down, words to wrap above and below
				<div class="post_subscribe">
					<h2>Download our vision book</h2>
					<div>
						<form>
							<input type="text" name="eame" placeholder="First Name">
							<input type="Email" name="email" placeholder="Email">
							<button class="btn-white" name="subscribe">Subscribe</button>
						</form>
					</div>
				</div>
				<div>
					<code>posts.content</code><br><br><br>
										<h3>heading</h3>
					<h5>subheading</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<h5>subheading</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<h3>heading</h3>
					<h5>subheading</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<h5>subheading</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				
			</div>



		</div>
	</div>
</section>

<section>
	<div class="container">
		<div>
			
		</div>
	</div>
</section>