<section class="signup_large">
  <div class="container">
<!--  -->
    <div class="signuplrg_wrapper">
      
      <div class="signuplrg_details">
        <h2 style="padding-bottom:15px;">Find Out More</h2>
        <h3>Enter your email below and we'll send you our vision book</h3>

        <form name="Subscribe (Large)" action="/thanks-subscribe.html" method="POST" data-netlify="true">
          <input type="text" id="fname" name="fname" placeholder="Name"><br><br>
          <input type="email" id="email" name="email" placeholder="Email"><br><br>
          <input type="checkbox" id="getintouch" name="vehicle1" value="Bike">
            <label for="getintouch"> I would like to talk further with a member of the Movement Australia team about my city.</label><br><br>
          <button type="submit" value="Submit" class="btn-white">Send <i class="fas fa-chevron-right"></i></button>
        </form>
        
      </div>

      <div class="signuplrg_image">
        <img src="/imgs/Book-Mockup-min.png"/>
      </div>
      
    </div>
<!--  -->
  </div>  <!-- end container -->
</section> 