<section class="email_signup_slim">
    <div class="container">

     <div class="email_slim">

          <form action="https://madmimi.com/signups/subscribe/522164c7f4a448f1909e8c21513c42c4" class="email_slim_form">
             
              <div>
                  <h2>Discover. <br>Learn. <br>Engage.</h2>
                  <h3>Enter Your Email and We’ll Send You Our Vision Book</h3>
              </div>
                
              <div class="e_slm_form_input"> 
                <CODE>hide placeholder on mobile</CODE>
                <input name="email" type="email" placeholder="Enter Your Email and We’ll Send You Our Vision Book"/>
              </div>
             
              <div>
                <button type="submit" value="Submit" class="btn-white">Send <i class="fas fa-chevron-right"></i></button>
              </div>
           
          </form>
 
      </div>
 </section>