<section class="signup_large">
  <div class="container">
<!--  -->
    <div class="signuplrg_wrapper">
      
      <div class="signuplrg_details">
        <h2 style="padding-bottom:15px;">Join the Movement</h2>
        <h3>Enter your email below and we'll send you our vision book</h3>

        <form name="Large Email Signup" action="/thanks-subscribe.html">
          <input type="text" id="fname" name="fname" placeholder="Name"><br><br>
          <input type="email" id="email" name="email" placeholder="Email"><br><br>
          <button type="submit" value="Submit" class="btn-white">Send <i class="fas fa-chevron-right"></i></button>
        </form>
        
      </div>

      <div class="signuplrg_image">
        <img src="/imgs/Book-Mockup-min.png"/>
      </div>
      
    </div>
<!--  -->
  </div>  <!-- end container -->
</section> 