<section class="email_signup_slim">
    <div class="container">
      <div class="email_slim">
        <div>
          <h2>Discover. Learn. Engage.</h2>
        </div>
        <div class="email_slim_form">
          <form action="/action_page.php">
            <input name="email" type="email" value="Enter Your Email and We’ll Send You Our Vision Book" /> <br /> 
            <button type="submit" value="Submit">Submit <i class="fas fa-chevron-right"></i></button>
          </form>


        </div>
      </div>
  </div>
</section>