<section class="email_signup_slim">
    <div class="container">
      <div class="email_slim">

          <form action="https://madmimi.com/signups/subscribe/60023" class="email_slim_form">
            <div>
              <h2>Discover. Learn. Engage.</h2>
            </div>
            
           <div> <input name="email" type="email" value="Enter Your Email and We’ll Send You Our Vision Book"/></div>
           
           <div> <button type="submit" value="Submit" class="btn-white">Send <i class="fas fa-chevron-right"></i></button></div>
           
          </form>
 
      </div>
  <p class="meg_to_edit"> NB: Create MadMim link, when they sign up an email is automaticallly sent with the download</p></div>

</section>