<section class="email_signup_slim">
    <div class="container">

     <div class="email_slim">
<CODE>[1] spacing on wrapper <br>
[2] hide placeholder on mobile</CODE>
          <form action="/thanks-subscribe.html" name="Subscribe (Slim)" class="email_slim_form">
             
              <div>
                  <h2>Discover. <br>Learn. <br>Engage.</h2>
                  <h3>Enter Your Email and We’ll Send You Our Vision Book</h3>
              </div>
                
              <div class="e_slm_form_input"> 
                <input name="email" type="email" placeholder="Enter Your Email and We’ll Send You Our Vision Book"/>
              </div>
             
              <div>
                <button type="submit" value="Submit" class="btn-white">Send <i class="fas fa-chevron-right"></i></button>
              </div>
           
          </form>
 
      </div>
 </section>