<footer >
  <div class="container">
    <div class="footer_layout">
<!-- first row -->
          <div class="footer_contact">
              <div class="nav_brand">
                <img src="/imgs/logo.png">
              </div>

              <div>
                <h4>Contact</h4><p>Join Us</p>
                <form name="Footer Signup" class="footer_form" id="ema_signup_form" target="_blank" action="/thanks-contact.html" accept-charset="UTF-8" method="post">
                  <input type="email" id="email" name="email" placeholder="Email">
                </form>
                <p>PO Box 2216, Toowoomba QLD 4350<br><a href="mailto:admin@movement.org.au">admin@movement.org.au</a><br>07 4638 5768</p>
                <ul class="footer_icons">
                  <li><a href="mailto:admin@movement.org.au"><i class="fas fa-envelope"></i></a></li>
                  <li><a href="tel:61746378244"><i class="fas fa-phone-alt"></i></a></li>
                </ul>
              </div>

          </div>
<!-- first row - end -->

      
<!-- second row -->
          <div>
            <h4><a href="/discover.html">Discover</a></h4>
            <ul>
              <li><a href="/discover.html">Who</a></li>
              <li><a href="/discover.html">What</a></li>
              <li><a href="/discover.html">Why</a></li>
              <li><a href="/discover.html">How</a></li>
            </ul>
          </div>

          <div>
            <h4><a href="/learn.html">Learn</a></h4>
            <ul>
              <li><a href="/learn/theology.html">Theology</a></li>
              <li><a href="/learn/stories.html">Stories</a></li>
              <li><a href="/learn/podcast.html">Podcast</a></li>
              <li><a href="/learn/video.html">Video</a></li>
              <li><a href="/learn/blog.html">Blog</a></li>          
            </ul>
          </div>

          <div>
            <h4><a href="/engage.html">Engage</a></h4>
            <ul>
              <li><a href="/engage.html">Movement Day</a></li>
              <li><a href="/engage.html">Round Table</a></li>
              <li><a href="/engage.html">Action Team</a></li>
              <li><a href="/engage.html">Campaigns</a></li>
              <!-- <li><a href="/engage.html">Media</a></li> -->
              <li><a href="/engage.html#supported_by">Supported By</a></li>
            </ul>
          </div>

          <div>
            <h4><a href="/team.html">Team</a></h4>
            <ul>
              <li><a href="/team.html">Committee</a></li>
              <li><%= link_to(  "Site Credit",  "https://megwilliscreative.com",) %></li>
              <li><a href="/contact.html">Contact</a></li>
            </ul>
          </div>

          <div class="footer_socials">
            <ul>
              <li><a href="https://www.facebook.com/MDayAus/"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://www.instagram.com/MDayAus/"><i class="fab fa-instagram"></i></a></li>
              
              
            </ul>
          </div>


    </div> <!-- END footer_layout -->
    
  </div>
  <div class="footer_bar container">
    <ul>
      <li><a href="/privacy.html">Privacy</a></li>
      <li><a href="/terms.html">Terms</a></li>
    </ul>
  </div>
</footer>