<header>
  <div class="container">


    <nav>
      <div class="nav-brand">
        <a href="/index.html"><img src="/imgs/logo.png">  </a>
      </div>

      <div class="nav-list">  
          <label for="toggle">&#9776;</label>
          <input type="checkbox" id="toggle"/>
          <div class="menu">
    
              <div class="menu_header">

                <div class="nav-brand">
                    <a href="index.html"><img src="/imgs/logo-red.svg"></a>
                </div>

                <div>
                  <label for="toggle"><i class="fas fa-times"></i></label>
                </div>

              </div>

              <a href="/discover.html">Discover</a>
              <a href="/learn.html">Learn</a>
              <a href="/engage.html">Engage</a>
              <a href="/team.html">Team</a>
              <a href="/contact.html">Contact</a>
              
          </div>
      </div>
    </nav>


  </div>
</header>

