<header>
  <div class="container">


    <nav>
      <div class="nav-brand">
        <a href="index.html"><img src="/imgs/logo.png">  </a>
      </div>

      <div class="nav-list">  
          <label for="toggle">&#9776;</label>
          <input type="checkbox" id="toggle"/>
          <div class="menu">
    
              <div class="menu_header">

                <div class="nav-brand">
                    <a href="index.html"><img src="/imgs/logo-red.svg"></a>
                </div>

                <div>
                  <label for="toggle"><i class="fas fa-times"></i></label>
                </div>

              </div>

              <a href="/discover.html">Discover</a>
              <a href="/learn.html">Learn</a>
              <a href="/engage.html">Engage</a>
              <a href="/team.html">Team</a>
              <a href="/contact.html">Contact</a>
              
          </div>
      </div>
    </nav>


  </div>

<!-- TBA DELETE mobile hamburger menu ------------------------------------------------------- -->
<!-- <div id="mobile_menu">
  <div class="container">
    <div class="mobile_menu">
      

      <div class="logo">
        <a href="/index.html"><img src="/imgs/logo-red.svg"></a>
      </div>

      <div class="close_mob_x">
        <h3>close <i class="fas fa-times"></i></h3>
      </div>
      

      <div class="nav_list">
        <nav>
          <ul>
            <li><h2><a href="/discover.html" class="nav-link">Discover</a></h2></li>
            <li><h2><a href="/learn.html" class="nav-link">Learn</a></h2></li>
            <li><h2><a href="/engage.html" class="nav-link">Engage</a></h2></li>
            <li><h2><a href="/team.html" class="nav-link">Team</a></h2></li>
            <li><h2><a href="/contact.html" class="nav-link">Contact</a></h2></li>
          </ul>
        </nav>
      </div>
      

    </div>
  </div>
  </div>
 -->

<!-- --- end mobile menu ------------------------------------------------------- -->


</header>

