<!-- SEARCH BY CATEGORY -->
<section id="search_slim">
  <div class="container">
    <code>Is this possible with Contentful?</code>
    <div class="learn_search">
      <!-- <div class="learn_form"> -->
          <form><!--  action="/action_page.php"> -->
            <div class="learn_form">
                <div>
                  <input name="text" type="text" value="Search">
                </div>
                <div>
                  <select id="learn_search" name="search_content">
                    <option value="theology">Theology</option>
                    <option value="stories">Stories</option>
                    <option value="podcast">Podcast</option>
                    <option value="video">Video</option>
                    <option value="blog">Blog</option>
                  </select>
                </div>
                <div>
                  <button type="submit" value="Submit" class="btn-white">Search <i class="fas fa-chevron-right"></i></button>
                </div>
              </div>
          </form>
      </div>


    </div>
  </div>
</section>