<section>
	<div class="container">
		<div>
			
<style type="text/css">
	input {
		border:0;
		border-bottom: 2px solid black;
		display:block;
		margin:15px;
		padding:6px 0;
		width:100%;
	}
	input::placeholder {
		text-transform: uppercase;
		color:#000;
		opacity: 1;
	}
	textarea::placeholder {
		text-transform: uppercase;
		color:#000;
		opacity: 1;
	}

</style>


<!-- --- -->


<div class="leave_message">
	<code>this form doesnt have spam protection</code>
	<form 
		name="Test Page Contact Form" 
		action="/thanks-contact.html"
		method="POST" 
		data-netlify="true"
		>

		<input type="text" name="First Name" placeholder="First Name">
		<input type="text" name="Last Name" placeholder="Last Name">
		<input type="email" name="Email" placeholder="email" required>
		<textarea name="Message" placeholder="Message" rows="10"></textarea>
		<button
			type="submit"
			>
			Send <i class="fas fa-chevron-right"></i>
		</button>



	</form>
</div>
		</div>
	</div>
</section>