<!-- LISTEN ON PODCASTS, PODCASTONE, AND SPOTIFY -->
<section>
  <div class="container">
    <div class="pod_pic_blurb">
      
		<div class="box pod_pic">
			<!-- <img src="https://is4-ssl.mzstatic.com/image/thumb/Podcasts123/v4/f3/15/71/f3157176-4a1d-8696-81a0-55b14b2de681/mza_3066438481763965409.png/313x0w.png"> -->
		</div>

		<div class="pod_blurb">
			<h5>In the Love Your City Podcast presenters Sam Jackson and Letitia Shelton discuss the importance of gospel movements in towns and cities around the world. </h5>
			<br>
			<p>Through a unified church that proclaims the good news of the gospel, much can be done to see the transformational life of the gospel and the expansion of the Kingdom of God come to our communities and places.</p>
			<p>You will hear stories from around the world, from various denominational, social, generational and ethnic leaders, so that more city gospel movement champions can be raised up to impact their places. There will also be discussions on the key issues and themes that surround gospel movements and how everyone can get involved. We invite you to join the conversation. This podcast is brought to you by Movement Day Australia. If you would like to reach out to us you can do so at contact@movementday.com.au</p>
			<button>Subscribe</button>
			<br>
			<p>If you’d like to partner with Annie as a sponsor for the Love Your City podcast, email us at <a href="">advertising@movement.org.au</a></p>
		</div>

    </div> <!-- end grid -->
    <div>
    	<h2>Episodes</h2>
    </div>
  </div> <!-- end container -->
</section>
