
<!-- timed email popup -->
<div class="modal_overlay" id="modal_overlay">
	<div class="modal" id="modal"> 

		<div class="modal-content">
			
			<div class="modal_close" id="closeModalBtn">
				<div><a class="close"><h3>close</h3></a></div>
				<div><a class="close_x"><h3>×</h3></a></div>
			</div>

			<div class="modal-header">
				<div class="modal_title">
					<h2>Download our vision book</h2>
				</div>
				<div class="modal_image">
					<img src="/imgs/Book-Mockup-min.png">
				</div>
			</div>

			<div class="modal-body">			
			    <div class="modal_form">
			      	<form>
			      		<input type="text" name="name" placeholder="First Name">
			      		<input type="email" name="email" placeholder="Email">
			      		<button class="btn-white">Submit <i class="fas fa-chevron-right"></i></button>
			      	</form>
			    </div>
			</div> <!-- end modal body -->



		</div> <!-- end modal content -->
	</div> <!-- end modal -->
</div>

