<section>
	<div class="container">
		<div>
			




	</div>
</section>


<style type="text/css">
.blog_post {
	    display: grid;
	    grid-template-columns: 1fr 2fr;
	    grid-gap: 35px;
	    overflow: hidden;
	    margin:38px 0px;
	    /*border: 5px green solid;*/
		}
</style>