<section>
	<div class="container">
		<div id="post_content">

			<div id="content_written">
				this is the article content
			</div>

			<div id="post_subscribe">
				this is the form
			</div>

		</div>
	</div>
</section>