---
title: Blog | Resources
description: Blog
---

<!DOCTYPE html>
<html>
<head>
  <title> Movement - Blog</title>
</head>
<body>


<!-- NAME & ARROW W RED BG -->
<section class="hero">
  <div class="container">
    <div class="main-message">
      <h1> Blog <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>


<!-- INSERT CONTENFUL  BLOG POSTS -->

<% posts = all_posts %>
<% if (posts.size > 0) %>
  <% first_post = posts.shift %>

  <% if (posts.size > 0) %>
    <section id="recent_posts" class="content_section">

      <div class="content container">
      <h2>Recent Posts</h2>
        <div class="recent_posts">
          <% posts.each do |index, post| %>
            <div class="post">
              <%= partial "partials/post_list_item", :locals => { :post => post, :include_excerpt => true } %>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>
<% else %>
<% end %>




























<!-- RECENT POSTS -->
<section>
  <div class="container">
    <div class="blog_page_title">
      <h2>Recent Blogs</h2>
    </div>
      <div class="replace_w_contentful stories_grid">
        <div class="story_item">
          
          <div class="story_item_image">
            <img src="https://source.unsplash.com/random/900×700/?"/>
          </div> <!-- end image -->

          <div class="story_item_text">
            <p class="replace_w_supplied">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
            <button>More <i class="fas fa-chevron-right"></i></button>
          </div> <!-- end text -->
        </div> <!-- end story item -->
      </div> <!-- end story grid -->
    </div> <!-- end container -->
</section>



</body>
</html>