---
title: Blog | Resources
description: Blog
---

<!DOCTYPE html>
<html>
<head>
  <title> Movement - Blog</title>
</head>
<body>


<!-- NAME & ARROW W RED BG -->
<section class="hero">
  <div class="container">
    <div class="main-message">
      <h1> Blog <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>


<!-- INSERT CONTENFUL  BLOG POSTS -->

<% posts = all_posts %>
<% if (posts.size > 0) %>
  <% first_post = posts.shift %>

  <% if (posts.size > 0) %>
    <section id="recent_posts" class="content_section">

      <div class="content container">
      <h2>Recent Posts</h2>
      <code>[1] featured post <br> [2] list categories with descriptions <br> [3] list recent posts <br> [4] does each post go through to each blog URL?</code>
        <div class="recent_posts">
          <% posts.each do |index, post| %>
            <div class="post">
              <%= partial "partials/post_list_item", :locals => { :post => post, :include_excerpt => true } %>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>
<% else %>
<% end %>




</body>
</html>