---
title: Podcast | Resources
description: Movement Australia Podcast
---

<!DOCTYPE html>
<html>
<head>
  <title> Movement - Podcast</title>
</head>

<body>
<% podcasts = all_podcasts %>

<!-- NAME & ARROW W RED BG -->
<section class="hero">
  <div class="container">
    <div class="main-message learn_h1">
      <h1>Learn <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>


<!-- LISTEN ON PODCASTS, PODCASTONE, AND SPOTIFY -->
<section>
  <div class="container">
    <h1>Podcast</h1>
    <div class="pod_pic_blurb">
      
        <div class="box pod_pic bg-center-center">
          <!-- pod image in css for pod_pic -->
        </div>

        <div class="pod_blurb">
          <h5>In the Love Your City Podcast we discuss the importance of gospel movements in towns and cities around the world.</h5>
          <br>
          <p>Through a unified church that proclaims the good news of the gospel, much can be done to see the transformational life of the gospel and the expansion of the Kingdom of God come to our communities and places.</p>
          <p>You will hear stories from around the world, from various denominational, social, generational and ethnic leaders, so that more city gospel movement champions can be raised up to impact their places. There will also be discussions on the key issues and themes that surround gospel movements and how everyone can get involved. We invite you to join the conversation. This podcast is brought to you by Movement Day Australia. If you would like to reach out to us you can do so at contact@movementday.com.au</p>
          <!-- <button>Subscribe</button> -->
          <br>
          <p>If you’d like to partner with us as a sponsor for the Love Your City podcast, email us at <a href="matilto:admin@movement.org.au">admin@movement.org.au</a></p>
        </div>
        

    </div> <!-- end grid -->
    <div class="tune_in">
      <h3>TUNE IN: 
        <a href="https://podcasts.apple.com/au/podcast/love-your-city-podcast/id1438698594">APPLE PODCASTS</a> |  
        <a href="https://open.spotify.com/show/5Lty3rITlOffeaFqqmPxh6?si=7XLt6rCNQrKFwJOf5ErfCQ">SPOTIFY</a> |  
        <a href="https://www.podplay.com/en/podcast/151469/love-your-city-podcast">PODPLAY</a> </h3>
    </div>
  </div> <!-- end container -->
</section>


<!-- INSERT FULL episode LIST -->
<section class="podcast_list">
  <div class="container border_box" style="padding:35px 0;">
    <div class="">
      <h3>Episodes</h3>
      <div>
        <ul class="recent_podcasts">
          <% all_podcasts.each do |indx, podcast| %>
            <li class="post">
              <%= partial "partials/podcast_grid_item", :locals => { :podcast => podcast } %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>


<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-up"></i></button>




  </div>  
</section>


<!-- large signup -->
<section id="">
  <div class="container">
    <div >
       <%= partial "partials/e_signup_lrg" %>
    </div> 
  </div>
</section>

</body>
</html>