---
title: Podcast
---


<!DOCTYPE html>
<html>
<head>
  <title> Movement - Podcast</title>
</head>
<body>


<!-- NAME & ARROW W RED BG -->
<section class="hero">
  <div class="container">
    <div class="main-message">
      <h1> Podcast <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>

<!-- RECENT POSTS -->
<section>
  <div class="container">
    <div class="blog_page_title">
      <h2>Recent Podcast</h2>
    </div>
      <div class="replace_w_contentful stories_grid">
        <div class="story_item">
          
          <div class="story_item_image">
            <img src="https://source.unsplash.com/random/900×700/?"/>
          </div> <!-- end image -->

          <div class="story_item_text">
            <p class="replace_w_supplied">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
            <button>More <i class="fas fa-chevron-right"></i></button>
          </div> <!-- end text -->
        </div> <!-- end story item -->
      </div> <!-- end story grid -->
    </div> <!-- end container -->
</section>



</body>
</html>