---
title: Podcast | Resources
description: Movement Australia Podcast
---

<!DOCTYPE html>
<html>
<head>
  <title> Movement - Podcast</title>
</head>

<body>
<% podcasts = all_podcasts %>

<!-- NAME & ARROW W RED BG -->
<section class="hero">
  <div class="container">
    <div class="main-message learn_h1">
      <h1>Learn <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>


<!-- LISTEN ON PODCASTS, PODCASTONE, AND SPOTIFY -->
<section>
  <div class="container">
    <h1>Podcast</h1>
    <div class="pod_pic_blurb">
      
        <div class="box pod_pic fix">
          <code>add shadow</code>
          <!-- <img src="https://is4-ssl.mzstatic.com/image/thumb/Podcasts123/v4/f3/15/71/f3157176-4a1d-8696-81a0-55b14b2de681/mza_3066438481763965409.png/313x0w.png"> -->
        </div>

        <div class="pod_blurb">
          <h5>In the Love Your City Podcast presenters Sam Jackson and Letitia Shelton discuss the importance of gospel movements in towns and cities around the world. </h5>
          <br>
          <p>Through a unified church that proclaims the good news of the gospel, much can be done to see the transformational life of the gospel and the expansion of the Kingdom of God come to our communities and places.</p>
          <p>You will hear stories from around the world, from various denominational, social, generational and ethnic leaders, so that more city gospel movement champions can be raised up to impact their places. There will also be discussions on the key issues and themes that surround gospel movements and how everyone can get involved. We invite you to join the conversation. This podcast is brought to you by Movement Day Australia. If you would like to reach out to us you can do so at contact@movementday.com.au</p>
          <button>Subscribe</button>
          <br>
          <p>If you’d like to partner with Annie as a sponsor for the Love Your City podcast, email us at <a href="">advertising@movement.org.au</a></p>
        </div>

    </div> <!-- end grid -->

  </div> <!-- end container -->
</section>


<!-- INSERT FULL episode LIST -->
<section>
  <div class="container border_box" style="padding:35px 0;">
    <h3>Episodes</h3>
    <div>
      <ul class="recent_podcasts">
        <% all_podcasts.each do |indx, podcast| %>
          <li class="post">
            <%= partial "partials/podcast_grid_item", :locals => { :podcast => podcast } %>
          </li>
        <% end %>
      </ul>
    </div>

    <code>
      [1] insert back to top <br>
      [2] stick to side of page. <br>

      - create rss <br>
      - create xml TBA <br>
      x layout previous episodes <br>
      x create single post template <br>
      </code>
    <div class="scroll_top" style="text-align: center;">
      <a href="#top">
          <button class="btn-white">Top <i class="fas fa-arrow-up"></i></button>
      </a>
    </div>


  </div>  
</section>






<!-- large signup -->
<section id="">
  <div class="container">
    <div >
       <%= partial "partials/e_signup_lrg" %>
    </div> 
  </div>
</section>

</body>
</html>