






<section>
	
	<div class="post_share_container">
	<div class="post_share">
	<h3>Share</h3>
	<ul>
		<li>
			<a href="https://www.facebook.com/MDayAus/">
			<i class="fab fa-facebook-f"></i></a></li>
		<li>
			<a href="mailto:admin@movement.org.au">
			<i class="fas fa-envelope"></i></a></li>
		<li></li>
	</ul>
</div>
</div>
  
      
	<div class="wrap_post_subscribe floatRight"> 
          <div class="post_subscribe">
            
            <h2>Download our vision book</h2>
	            <div>
	              <form name="Subscribe (Blog)" action="/thanks-subscribe.html" method="POST" data-netlify="true">
	                
	                <input type="text" name="eame" placeholder="First Name">
	                <input type="Email" name="email" placeholder="Email">
	                <button class="btn-white" name="subscribe">Subscribe</button>
	              </form>
	            </div>
          </div>
  	</div>	

      
      </div>
    </div>
  </div>
</section>


<div class="fb-share-button" data-href="https://mda20002v4.netlify.app/learn/blog/a-strategy-for-city-transformation.html" data-layout="button" data-size="small">
	<a 
		target="_blank" 
		href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmda20002v4.netlify.app/learn/blog/<%= post.slug %>.html

		&amp;src=sdkpreparse" 
		
		class="fb-xfbml-parse-ignore"
		>
		Share
	</a>
</div>


<!-- SHARE POST BY EMAIL -->
<a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site http://www.website.com."
   title="Share by Email">
  <!-- <img src="http://png-2.findicons.com/files/icons/573/must_have/48/mail.png"> -->
</a>


	<li>
    	<a 
          target="_blank" 
          href="mailto:?subject=Article%20from%20Movement.org.au%20%7C%20%3C%25%3D%20post.title%20%25%3E&body=Hello%2C%0A%0AHave%20a%20look%20at%20this%20article%20from%20Movement%20Australia.%0A%0Ahttps://movement.org.au/learn/blog/learn/blog/<%= post.slug %>.html">
          <i class="fas fa-envelope"></i>
    	</a>
    </li>






