---
title: Stories
---


<!DOCTYPE html>
<html>
<head>
  <title> Movement - Stories</title>
</head>
<body>


<!-- NAME & ARROW W RED BG -->
<section class="hero">
  <div class="container">
    <div class="main-message">
      <h1> Stories <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>

    
<!-- FEATURED POST X 1 -->
<section>
  <div class="container">
    <div class="blog_page_title">

      <h3>Featured</h3>

      <% posts = posts_by_tag("Story") %>
            
      <div class="">
          <% posts.take(1).each do |index, post| %>
            <div class="">
              <%= partial "partials/feature_list_item", :locals => { :post => post, :include_excerpt => true } %>
            </div>
          <% end %>
      </div>

  </div> <!-- end container -->
</section>

<!-- ALL POSTS 3/ROW -->
<section>
  <div class="container">
    <div class=" border_box">
    <code>first 2 articles are duplicates _TC</code>
    <% first_post = posts.shift %>

      <div class="">
        <div class="blog_grid">
            <% posts.each do |index, post| %>
              <div class="blog_grid_item">
                <%= partial "partials/post_grid_item", :locals => { :post => post, :include_excerpt => false } %>
              </div>
            <% end %>
        </div>
      
      </div>
    </div>
  </div> <!-- end container -->
</section>


</body>
</html>