---
title: Stories
---


<!DOCTYPE html>
<html>
<head>
  <title> Movement - Stories</title>
</head>
<body>


<!-- NAME & ARROW W RED BG -->
<section class="hero">
  <div class="container">
    <div class="main-message">
      <h1> Stories <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>
<div style="text-align: center;">
  
      <code >Previous CSS used here, still in styles.css: story_item; stories_grid; story_item_image; story_item_text; </code>
</div>
    
<!-- FEATURED POST X 1 -->
<section>
  <div class="container">
    <div class="blog_page_title">

      <h3>Featured</h3>


      <% posts = posts_by_tag("Story") %>
      <% first_post = posts.shift %>
      
      <div class="">
          <% posts.take(1).each do |index, post| %>
            <div class="">
              <%= partial "partials/feature_list_item", :locals => { :post => post, :include_excerpt => true } %>
            </div>
          <% end %>
      </div>




    
  </div> <!-- end container -->
</section>

<!-- ALL POSTS 3/ROW -->
<section>
  <div class="container">
    <div class=" border_box">

    <div class="">
      <div class="blog_grid">
          <% posts.each do |index, post| %>
            <div class="blog_grid_item">
              <%= partial "partials/post_grid_item", :locals => { :post => post, :include_excerpt => false } %>
            </div>
          <% end %>
      </div>

    </div>
  </div> <!-- end container -->
</section>


</body>
</html>