---
title: Theology
---


<!DOCTYPE html>
<html>
<head>
  <title> Movement - Theology</title>
</head>
<body>


<!-- NAME & ARROW W RED BG -->
<section class="hero">
  <div class="container">
    <div class="main-message">
      <h1> Theology <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>

<!-- FEATURED POST X 1 -->
<section>
  <div class="container">
    <div class="blog_page_title">
      <h2>Featured </h2>
    </div>


    <div class="post_related">
      <% posts = all_posts %>
      <% first_post = posts.shift %>
      
      <code> [1] Contentful posts with tag: Theology <br> [2] layout: 1 x feature; grid @ 3 columns
        </code>
      
      <div class="post_related_items">
          <% posts.take(1).each do |index, post| %>
            <div class="post_related_item">
              <%= partial "partials/post_list_item_related", :locals => { :post => post, :include_excerpt => false } %>
            </div>
          <% end %>
      </div>

    </div>
  </div> <!-- end container -->
</section>

<!-- ALL POSTS 3/ROW -->
<section>
  <div class="container">
    <div class="post_related">
      <CODE>[1] layout 3 posts per row <br> [2] exclude featured post above?</CODE>
      
      <div class="post_related_items">
          <% posts.each do |index, post| %>
            <div class="post_related_item">
              <%= partial "partials/post_list_item_related", :locals => { :post => post, :include_excerpt => false } %>
            </div>
          <% end %>
      </div>

    </div>
  </div> <!-- end container -->
</section>


</body>
</html>