---
title: Theology
---


<!DOCTYPE html>
<html>
<head>
  <title> Movement - Theology</title>
</head>
<body>
      <% posts = posts_by_tag("Theology") %>
      <% first_post = posts.shift %>

<!-- NAME & ARROW W RED BG -->
<section class="hero">
  <div class="container">
    <div class="main-message">
      <h1> Theology <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>

<!-- FEATURED POST X 1 -->
<section>
  <div class="container">
    <div class="blog_page_title">
            <code> 
      <!-- [x] Contentful posts with tag: Theology <br> -->
      <!-- [x] layout: 1 x feature; grid @ 3 columns <br> -->
      [3] Tagged content ≠ showing below.
        </code>
      <h3>Featured</h3>
    </div>  
    <div><!--  posts -->
      <% posts.take(1).each do |index, post| %>
        <div><!--  class="post"> -->
          <%= partial "partials/feature_list_item", :locals => { :post => post, :include_excerpt => true } %>
        </div> <!-- end post -->
      <% end %>
    </div> <!-- end posts -->
  </div> <!-- end container -->
</section>

<!-- ALL POSTS 3/ROW -->
<section>
  <div class="container">
    <div class="post_related border_box">
      <h3>Articles</h3>
      <div class="post_related">
        
        <div class="blog_grid">
            <% posts.each do |index, post| %>
              <div class="blog_grid_item">
                <%= partial "partials/post_grid_item", :locals => { :post => post, :include_excerpt => false } %>
              </div>
            <% end %>
        </div>

    </div>
  </div> <!-- end container -->
</section>


</body>
</html>