---
title: Videos
---


<!DOCTYPE html>
<html>
<head>
  <title> Movement - Videos</title>
</head>
<body>


<!-- NAME & ARROW W RED BG -->
<section class="hero">
  <div class="container">
    <div class="main-message">
      <h1> Videos <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>

<!-- RECENT POSTS -->
<section id="video_section">
  <div class="container">
    <div class="video_content">
      <code>[1] Connect to Contentful <br> [2] Is this layout approved? Layout design is part of INV0745 <br> [3] Style the h4 to center and closer to video <br> [4] include a filter? by location? <br> [5] jump back to top button at end of page <br> [6] remove vimeo branding</code>
      <% fetch_videos.each do |year, videos| %>
        <div class="video_year">
          <h2><%= year %></h2>
          <div class="video_item">
            <% videos.each do |id, video| %>
              <div>
                <iframe src="<%= video.video_url %>?title=0&byline=0&portrait=0" width="640" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <h4><%= video.title %></h4>
                <%# Markdown.new(!video.description.nil? ? video.description : "").to_html %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
   </div> <!-- end container -->
</section>




</body>
</html>