---
title: Video | Learn
description: Movement Australia Videos
---

<!DOCTYPE html>
<html>
<head>
  <title> Movement - Videos</title>
</head>

<body>
<% podcasts = all_podcasts %>

<!-- NAME & ARROW W RED BG -->
<section class="hero">
  <div class="container">
    <div class="main-message learn_h1">
      <h1>Learn <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>


<!-- video intro -->
<section>
  <div class="container">
    <div style="padding-top:75px;">
      <h1>Video</h1>
    <div class="pod_blurb">
      <p>Videos below are from Movement Day Australia gatherings. In 2017 videos are from the National Gathering.</p>
    </div>
    </div>
  </div> <!-- end container -->
</section>

<!-- INSERT PARTIAL SLIM SIGNUP -->


<!-- INSERT FULL episode LIST -->
<section class="video_list">
  <div class="container" style="padding:35px 0;">
    <div>
      <ul class="recent_videos ">
        <% fetch_videos.each do |year, videos| %>
          <li class="border_box " style="border-bottom:0px;">
            <h3><%= year %></h3>
            <ul class="video_by_year ">
              <% videos.each do |id, video| %>
                <li class="">
                  <div class="video_item">
                    <iframe src="<%= video.video_url %>?title=0&byline=0&portrait=0" width="640" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  <h2><%= video.title %></h2>
                  <%# Markdown.new(!video.description.nil? ? video.description : "").to_html %>
                  </div>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>

<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-up"></i></button>


  </div>  
</section>


<!-- large signup -->
<section id="">
  <div class="container border_box" style="border-bottom:0px;">
    <div >
       <%= partial "partials/e_signup_lrg" %>
    </div> 
  </div>
</section>

</body>
</html>