---
title: Contact
---


<!DOCTYPE html>
<html>
<head>
  <title> Movement - Contact</title>
</head>
<body>


<!-- NAME & ARROW W RED BG -->
<section class="hero">
  <div class="container">
    <div class="main-message">
      <h1> Contact <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>


<!-- contact form with recaptcha -->


<section class="contact_section">
  <div class="container">
        <h3>Committee</h3>
        <h2>Get In Touch</h2>  
    <div class="contact_form">
      <div class="leave_message">



<!-- 
TRYING TO ACHIEVE:
=> SEND EMAIL ON SUBMIT
x email sending
x can reply-to senders email.
- confirmation page needed? Current action after submit = show test page.
 -->

          <form id="mda_contact" method="POST" data-netlify="true" action="/thanks_contact.html">
            <input type="text" id="fname" name="First Name" placeholder="First Name"><br><br>
            <input type="text" id="lname" name="Last Name" placeholder="Last Name"><br><br>
            <input type="email" id="email" name="Email" placeholder="Email">
            <label for="message">Message</label>
            <textarea id="message" name="Message" placeholder="Message" rows="10"></textarea>
            
            <div>
              <div data-netlify-recaptcha="true"></div>
            </div>
            <button type="submit" value="Submit" 
              class="g-recaptcha" 
              data-sitekey="6Le9dLMZAAAAACTnyvrSxKsJf8VAYrsn89dHJp5a" 
              data-callback='onSubmit' 
              data-action='submit'> Send <i class="fas fa-chevron-right"></i></button>

          </form>







      </div>
      <div class="contact_address">
        <h2>PO Box 2216, <br>Toowoomba QLD 4350 <br>Ph. 07 4637 8244</h2>
        <a href="mailto:admin@movement.org.au"><h2>admin@movement.org.au</h2></a>
      </div>
    </div> <!-- end contact form -->
  </div><!-- end container -->
</section>


<!-- slim email signup -->
<%= partial "partials/_e_signup_lrg" %>

<!-- grid of logos from SUPPORTED BY -->
<section class="engage_supporters">
  <div class="container">
    <div class="border_box">
       <h3>Supported By</h3>
       <div class="support_grid">
          
          <!-- <ul> -->
          <% data.website.supporter.sort_by{ |id, e| e['_meta']['created_at'] }.each do |id, supporter| %>
            <div class="support_grid_box">
              <a href="<%= supporter.url %>" target="_blank">
                <%= image_tag supporter.logo.url, alt: supporter.name %>
              </a>
            </div>
          <% end %>                  
          <!-- </ul> -->
        </div>
      </div>
  </div>
</section>

</body>
</html>