---
title: Contact
---


<!DOCTYPE html>
<html>
<head>
  <title> Movement - Contact</title>
</head>
<body>


<!-- NAME & ARROW W RED BG -->
<section class="hero">
  <div class="container">
    <div class="main-message">
      <h1> Contact <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>


<!-- 2 rows x 4 columns grid of staff profiles -->

<section class="contact_section">
  <div class="container">
        <h3>Committee</h3>
        <h2>Get In Touch</h2>  
    <div class="contact_form">
      <div class="leave_message">

          <form action="/action_page.php">
            <input type="text" id="fname" name="fname" placeholder="First Name"><br><br>
            <input type="text" id="lname" name="lname" placeholder="Last Name"><br><br>
            <input type="email" id="email" name="email" placeholder="Email"><br><br>
            <input type="textarea" id="message" name="message" placeholder="Message"><br><br>
            <button type="submit" value="Submit">Submit <i class="fas fa-chevron-right"></i></button>
          </form>
          <p><i><br>Click the "Submit" button and the form-data will be sent to a page on the 
        server called "action_page.php".</i></p>
      </div>
      <div class="contact_address">
        <h2>PO Box 2216, <br>Toowoomba QLD 4350 <br>Ph. 07 4637 8244</h2>
      </div>
    </div> <!-- end contact form -->
  </div><!-- end container -->
</section>


<!-- slim email signup -->
<%= partial "partials/_e_signup_lrg" %>

<!-- grid of logos from SUPPORTED BY -->
<section class="engage_supporters">
  <div class="container">
    <div class="border_box">
       <h3>Supported By</h3>
       <div class="support_grid">
          
          <!-- <ul> -->
          <% data.website.supporter.sort_by{ |id, e| e['_meta']['created_at'] }.each do |id, supporter| %>
            <div class="support_grid_box">
              <a href="<%= supporter.url %>" target="_blank">
                <%= image_tag supporter.logo.url, alt: supporter.name %>
              </a>
            </div>
          <% end %>                  
          <!-- </ul> -->
        </div>
      </div>
  </div>
</section>

</body>
</html>