---
title: Contact
---

<!DOCTYPE html>
<html>
<head>
  <title> Movement - Contact</title>
</head>
<body>

<!-- NAME & ARROW W RED BG -->
<section class="hero">
  <div class="container">
    <div class="main-message">
      <h1> Contact <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>


<!-- contact form with recaptcha -->
<section class="contact_section">
  <div class="container fix">
    <h3>Committee</h3>
    <h2>Get In Touch</h2> 
    <div class="contact_form">
      <div class="leave_message">
        <code>NO spam protection</code>
        <form 
          name="Contact Page Form (27 Aug)" 
          action="/thanks-contact.html"
          method="POST" 
          data-netlify="true"
          >

          <input type="text" name="First Name" placeholder="First Name">
          <input type="text" name="Last Name" placeholder="Last Name">
          <input type="email" name="Email" placeholder="email" required>
          <textarea name="Message" placeholder="Message" rows="10"></textarea>
          <button
            type="submit"
            >
            Send <i class="fas fa-chevron-right"></i>
          </button>



        </form>
      </div>







      <!-- <div class="leave_message">
        <form name="Contact Message" id="mda_contact" method="POST" 
        data-netlify-recaptcha="true" 
        data-netlify="true" 
        action="/thanks-contact.html">
          <input type="text" id="fname" name="First Name" placeholder="First Name" required ><br><br>
          <input type="text" id="lname" name="Last Name" placeholder="Last Name"><br><br>
          <input type="email" id="email" name="Email" placeholder="Email" required >
          
          <textarea id="message" name="Message" placeholder="Message" rows="10"></textarea>

          <button type="submit" name="submit" value="Submit" 
            data-callback='onSubmit' 
            data-action='submit'
            >
            Send <i class="fas fa-chevron-right"></i>
          </button>

        </form>
      </div> -->

      <div class="contact_address">
        <h2>PO&nbsp;Box&nbsp;2216,<br>Toowoomba&nbsp;QLD&nbsp;4350 <br>Ph.&nbsp;07&nbsp;4637&nbsp;8244</h2>
        <a href="mailto:admin@movement.org.au"><h2>admin@movement.org.au</h2></a>
      </div>
    </div> <!-- end contact form -->
  </div><!-- end container -->
</section>


<!-- slim email signup -->
<%= partial "partials/_e_signup_lrg" %>

<!-- grid of logos from SUPPORTED BY -->
<section class="engage_supporters">
  <div class="container">
    <div class="border_box" style="border-bottom:none;">
       <h3>Supported By</h3>
       <div class="support_grid">
          
          <!-- <ul> -->
          <% data.website.supporter.sort_by{ |id, e| e['_meta']['created_at'] }.each do |id, supporter| %>
            <div class="support_grid_box">
              <a href="<%= supporter.url %>" target="_blank">
                <%= image_tag supporter.logo.url, alt: supporter.name %>
              </a>
            </div>
          <% end %>                  
          <!-- </ul> -->
        </div>
      </div>
  </div>
</section>

</body>
</html>