---
title: Contact
---

<!DOCTYPE html>
<html>
<head>
  <title> Movement - Contact</title>
</head>
<body>

<!-- NAME & ARROW W RED BG -->
<section class="hero">
  <div class="container">
    <div class="main-message">
      <h1> Contact <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>


<!-- contact form with recaptcha -->
<section class="contact_section">
  <div class="container">
    <h3>Committee</h3>
    <h2>Get In Touch</h2> 
    <div class="contact_form">
      <div class="leave_message">
        

<head>
<!-- <title>reCAPTCHA demo: Simple page</title> -->
<!--    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
   <script>
     function onSubmit(token) {
       document.getElementById("demo-form").submit();
     }
   </script> -->
</head>

<body class="">
  <form 
    id='demo-form' name="Contact (Contact Page)" action="/thanks-contact.html" method="POST" data-netlify="true" 
    >

    <input type="text" name="First Name" placeholder="First Name">
    <input type="text" name="Last Name" placeholder="Last Name">
    <input type="email" name="Email" placeholder="email" required>
    <textarea name="Message" placeholder="Message" rows="10"></textarea>

    <button class="g-recaptcha" data-sitekey="6LdBBb8ZAAAAAN_8N0ODRpR3aUXnvwzm4OuB3h_y" data-callback='onSubmit'>Send <i class="fas fa-chevron-right"></i></button>
    <!-- recaptcha = v2 -->
    <br/>
  </form>
</body>

      </div>
      <div class="contact_address">
        <h2>PO Box 2216,<br>Toowoomba QLD 4350 <br>Ph. 07 4638 5768</h2>
        <a href="mailto:admin@movement.org.au"><h2>admin@movement.org.au</h2></a>
      </div>
    </div> <!-- end contact form -->
  </div><!-- end container -->
</section>


<!-- large email sign up -->
<section class="email_signup_large">
  <div class="container">
    <div class="border_box">
      <%= partial "partials/e_signup_lrg" %>
    </div>
  </div>
</section>

<!-- grid of logos from SUPPORTED BY -->
<section class="engage_supporters">
  <div class="container">
    <div class="" style="border-bottom:none;">
       <h3>Supported By</h3>
       <div class="support_grid">
          
          <!-- <ul> -->
          <% data.website.supporter.sort_by{ |id, e| e['_meta']['created_at'] }.each do |id, supporter| %>
            <div class="support_grid_box">
              <a href="<%= supporter.url %>" target="_blank">
                <%= image_tag supporter.logo.url, alt: supporter.name %>
              </a>
            </div>
          <% end %>                  
          <!-- </ul> -->
        </div>
      </div>
  </div>
</section>

</body>
</html>