---
title: Discover
---


<!DOCTYPE html>
<html>
<head>
  <title> Movement - Discover</title>
</head>
<body>


<!-- NAME & ARROW W RED BG -->
<section class="hero">
  <div class="container">
    <div class="main-message">
      <h1> Discover <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>

<!-- feature category and image -->
<section class="feature-img">
   <div class="container">
    <div class="">
      <!-- <h3> Discover </h3> -->
        <img src="/imgs/gold-coast-1280px.jpg"/>
    </div>
  </div>
</section>

 <!-- vision section  -->
<section class="vision-section">
   <div class="container">

    <div class="main-message">
      <div class="vision_layout">

        <div class="vision_layout_item">        
          <div class="vision_point"><h2>Who</h2></div>
          <div class="vision_rule"></div>
          <div class="vision_details"><p> Movement is a new paradigm in Church culture where Ministers, Christian leaders, the local church and local organisations </p></div>
        </div>

        <div class="vision_layout_item">        
          <div class="vision_point"><h2>What</h2></div>
          <div class="vision_rule"></div>
          <div class="vision_details"><p> come together in relational unity, reconciled diversity to understand and envision the unique story and pain of their city and engage collaboratively to bring solutions that will</p></div>
        </div>

        <div class="vision_layout_item">        
          <div class="vision_point"><h2>Why</h2></div>
          <div class="vision_rule"></div>
          <div class="vision_details"><p>permeate their city with a generous localised Gospel that releases beauty and shalom.</p></div>
        </div>

        <div class="vision_layout_item">        
          <div class="vision_point"><h2>How</h2></div>
          <div class="vision_rule"></div>
          <div  class="vision_details"><p>This catalytic paradigm is championed and empowered through local round tables, workshops, action teams, prayer and city gatherings called Movement Day.</p></div>
        </div>

    </div>
    
  </div>
</section>
<section class="discover_form">
  <div class="container">
    <div class="border_box" style="border-bottom: 0px;">
    <!-- email sign up large w mockup -->
    <%= partial "partials/e_signup_lrg2" %>
  </div></div>
</section>
 

</body>
</html>