---
title: Engage
---


<!DOCTYPE html>
<html>
<head>
  <title> Movement - Engage</title>
</head>
<body>


<!-- NAME & ARROW W RED BG -->
<section class="hero">
  <div class="container">
    <div class="main-message">
      <h1> Engage <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>

<!-- engage intro -->
<section class="engage_intro">
  <div class="container">
    <h2 style="color:#000000;font-weight: 600;font-size: 50px;">The Movement Team are here to support you and see the work in your city flourish</h2>
    <div class="engage_intro_grid "> <!-- container for 3 boxes -->
      <div class="engage_intro_grid_white"> <!-- box -->
        <h3>Engage</h3>
        <h2>Come to a Movement Day Gathering in your city</h2>
        <p>Major events that are held every 1-3 years and act as an accelerator for the long term vision of releasing beauty and shalom in Australian cities and towns. <br> Each Movement Day Gathering is between 1-3 days where the majority of Church Pastors and Christian Leaders gather to celebrate, connect, collaborate, catalyse, commission and tell Movement Stories that inspire action in other leaders to envisage and release beauty and shalom in their cities and towns.</p>
      </div>
      <div class="engage_intro_grid_grey"> <!-- box -->
        <h3>Engage</h3>
        <h2 style="color:#ffffff!important;">Come to a Movement Day Round Table in your city</h2>
        <p>These are smaller more targeted workshops, meetings, meals or prayer times that network Christian Pastors and leaders across city spheres to release city wide beauty and shalom.</p>
      </div>
      <div class="engage_intro_grid_white"> <!-- box -->
        <h3>Engage</h3>
        <h2>Create or Join a Movement Day Action Team in your city</h2>
        <p>These are focused meetings that bring together a team of local people to work on specific issues facing their city or town.</p>
      </div>            
    </div>
  </div>
</section>


<!-- slim email signup -->
<%= partial "partials/_e_signup_slim" %>


<!-- links to all australian local movements connected -->
<section class="engage_locally ">
  <div class="container">
      <a name="engage_cities" id="engage_cities"><h3>Cities / Towns</h3></a>
    <div class="city_grid replace_w_contentful"> <!-- container for grid of cities and towns fb and web -->
      <div class="city_grid_item">
        <h2>Pittsworth</h2>
        <div class="team_socials">          
          <ul>
            <li><a href="https://www.facebook.com/MDayAus/"><i class="fab fa-facebook-f fa-2x"></i></a></li>
            <li><a href="mailto:hello@movemnetday.com.au"><i class="fas fa-link fa-2x"></i></a></li>          
          </ul>          
        </div>
      </div>

      <div class="city_grid_item"><h2>Ryde</h2>
          <div class="team_socials">  
          <ul>
            <li><a href="https://www.facebook.com/MDayAus/"><i class="fab fa-facebook-f fa-2x"></i></a></li>
            <li><a href="mailto:hello@movemnetday.com.au"><i class="fas fa-link fa-2x"></i></a></li>
          </ul>  
        </div><!-- socials end -->
      </div>

      <div class="city_grid_item"><h2>Wollongong</h2>
        <div class="team_socials">
          <ul>
            <li><a href="https://www.facebook.com/MDayAus/"><i class="fab fa-facebook-f fa-2x"></i></a></li>
            <li><a href="mailto:hello@movemnetday.com.au"><i class="fas fa-link fa-2x"></i></a></li>
          </ul>  
        </div><!-- socials end --></div>

      <div class="city_grid_item">
        <h2>Toowoomba</h2>
        <div class="team_socials">
          <ul>
            <li><a href="https://www.facebook.com/MDayAus/"><i class="fab fa-facebook-f fa-2x"></i></a></li>
            <li><a href="mailto:hello@movemnetday.com.au"><i class="fas fa-link fa-2x"></i></a></li>
          </ul>  
        </div><!-- socials end -->
      </div>
      <div class="city_grid_item">
        <h2>Perth</h2>
        <div class="team_socials">
          <ul>
            <li><a href="https://www.facebook.com/MDayAus/"><i class="fab fa-facebook-f fa-2x"></i></a></li>
            <li><a href="mailto:hello@movemnetday.com.au"><i class="fas fa-link fa-2x"></i></a></li>
          </ul>  
        </div><!-- socials end -->
      </div>
      <div class="city_grid_item">
        <h2>Newcastle</h2>
        <div class="team_socials">
          <ul>
            <li><a href="https://www.facebook.com/MDayAus/"><i class="fab fa-facebook-f fa-2x"></i></a></li>
            <li><a href="mailto:hello@movemnetday.com.au"><i class="fas fa-link fa-2x"></i></a></li>
          </ul>  
        </div><!-- socials end -->
      </div>
      <div class="city_grid_item">
        <h2>Newcastle</h2>
        <div class="team_socials">
          <ul>
            <li><a href="https://www.facebook.com/MDayAus/"><i class="fab fa-facebook-f fa-2x"></i></a></li>
            <li><a href="mailto:hello@movemnetday.com.au"><i class="fas fa-link fa-2x"></i></a></li>
          </ul>  
        </div><!-- socials end -->
      </div>
      <div class="city_grid_item">
        <h2>Newcastle</h2>
        <div class="team_socials">
          <ul>
            <li><a href="https://www.facebook.com/MDayAus/"><i class="fab fa-facebook-f fa-2x"></i></a></li>
            <li><a href="mailto:hello@movemnetday.com.au"><i class="fas fa-link fa-2x"></i></a></li>
          </ul>  
        </div><!-- socials end -->
      </div>


    </div>
  </div> <!-- staff container ends -->
</section>


<!-- invite to share story from your city -->
<section class="engage_share">
  <div class=" container">
    <div class="engage_share_content border_box">
      <h2>Tell us whats happening in  your city!</h2>
      <div class="engage_share_form">

          <form id="mda_engage" action="/test-page.html" data-netlify="true">
            <input type="text" id="fname" name="First Name" placeholder="First Name">
            <input type="text" id="lname" name="Last Name" placeholder="Last Name"><br><br>
            <input type="email" id="email" name="Email" placeholder="Email"><br><br>
            <label for="message">Message</label><br>
            <textarea id="message" name="Message" rows="4"></textarea>
            <br><br>
            <div>
              <div data-netlify-recaptcha="true"></div>
            </div>
            <button type="submit" value="Submit" 
              class="g-recaptcha" 
              data-sitekey="6LdOQqgZAAAAALCX1ER_gJy9OVUKJob7x290LNIC" 
              data-callback='onSubmit' 
              data-action='submit'>
              Send <i class="fas fa-chevron-right"></i></button>

          </form>


      </div>
    </div>
  </div>
</section>




<!-- pull in latest Engage article from contenful -->
<section class="engage_updates">
  <div class="replace_w_contentful container">
    
    <img src="https://source.unsplash.com/random/900×700/?response"/>
    <h3>Engage</h3>
    <h2>Pray & Act - A Response To Covid 19</h2>
    <p>Nibh praesent tristique magna sit. Facilisi nullam vehicula ipsum a arcu cursus vitae. Quis imperdiet massa tincidunt nunc pulvinar sapien. Id eu nisl nunc mi ipsum faucibus vitae. Id volutpat lacus laoreet non curabitur. Volutpat maecenas volutpat blandit aliquam etiam. Tempus iaculis urna id volutpat lacus laoreet. Massa sed elementum tempus egestas sed sed risus. Cras semper auctor neque vitae tempus quam pellentesque nec nam. Orci eu lobortis elementum nibh tellus molestie nunc. Enim tortor at auctor urna nunc id cursus metus. Sed vulputate mi sit amet mauris commodo.</p>
    <button>More <i class="fas fa-chevron-right"></i></button>
  </div>
</section>



<!-- large email sign up -->
<section class="email_signup_large">
  <div class="container">
    <div class="border_box">
      <%= partial "partials/e_signup_lrg" %>
    </div>
  </div>
</section>



<!-- pull in media articles from contentful -->
<section class="engage_media">
  <div class="replace_w_contentful container">
      <h3>Media</h3>
      <div class="media_grid">
        <div class="media_grid_box">
          <img src="/imgs/girl-window-1280px.jpg">
          <h3>Wallpaper</h3>
          <h2> Lorem ipsum dolor .</h2>
          <button>More <i class="fas fa-chevron-right"></i></button> 
        </div>
        <div class="media_grid_box">
          <img src="/imgs/girl-window-1280px.jpg">
          <h3>Wallpaper</h3>
          <h2> Lorem ipsum dolor .</h2>
          <button>More <i class="fas fa-chevron-right"></i></button> 
        </div>
        <div class="media_grid_box">
          <img src="/imgs/girl-window-1280px.jpg">
          <h3>Wallpaper</h3>
          <h2> Lorem ipsum dolor .</h2>
          <button>More <i class="fas fa-chevron-right"></i></button> 
        </div>
      </div>
  </div>
</section>



<!-- grid of logos from SUPPORTED BY -->
<section class="engage_supporters" name="supported_by" id="supported_by">
  <div class="container">
    <div class="border_box">
       <h3>Supported By</h3>
       <div class="support_grid">
          
          <!-- <ul> -->
          <% data.website.supporter.sort_by{ |id, e| e['_meta']['created_at'] }.each do |id, supporter| %>
            <div class="support_grid_box">
              <a href="<%= supporter.url %>" target="_blank">
                <%= image_tag supporter.logo.url, alt: supporter.name %>
              </a>
            </div>
          <% end %>                  
          <!-- </ul> -->
        </div>
      </div>
  </div>
</section>






</body>
</html>