---
title: Movement Australia
---
 
<!DOCTYPE html>
<html>
<head>
  <title> Movement Australia </title>
</head>
<body>
<!--
BUILD HOME CONTENTS
-->
<!-- hero "you are the movement." -->
<section class="hero">
  <div class="container">
    <h2 style="padding-bottom:35px; color:#ffffff!important;"><i>Together</i>, local Ministers, local Christian<br>
        leaders, local churches and local<br>
        organisations are uniquely positioned<br>
        to bring social, cultural and spiritual<br>
        change <i>in their city, for their city.</i></h2>
    <h1 style="text-align: right;"> You are the Movement.<br>
    <a href="#whats-happening"><i class="fas fa-arrow-down"></i></a></h1>
  </div>
</section>

<!-- whats happening -->
<section id="whats-happening" class="whats_happening">
  <div class="replace_w_supplied container">

    <h3>What's Happening</h3>

    <!-- <code>this first image is supposed to be fullwidth, but 16x9 ratio</code> -->
    <% posts = all_posts %>
    <div><!--  class="recent_posts"> -->
      <% posts.take(1).each do |index, post| %>
        <div><!--  class="post"> -->
          <%= partial "partials/download_list_item", :locals => { :post => post, :include_excerpt => true } %>
        </div> <!-- end post -->
      <% end %>
    </div> <!-- end recent posts -->

  </div>
</section>

<!-- 3 entries from the blog -->
<section class="blog_fullwidth">
  <div class="container">
    <div class="border_box">
      <h3>Engage</h3>
      
      <% posts = all_posts %>
      <div>
          <% posts.take(3).each do |index, post| %>
            <div>
              <%= partial "partials/post_list_item", :locals => { :post => post, :include_excerpt => true } %>
            </div>
          <% end %>
        </div>
      </div>



    </div>
  </div>
</section>

<!-- slim email signup -->
<%= partial "partials/_e_signup_slim" %>

<!-- stats section -->
<section>
  <div class="stats_home">
    <div class="container">
      <div class="stats_x3">
          <a href="/engage.html#engage_cities">
            <div class="stats_1">
              <h2>
                <span>30+</span> 
                <br>Towns & Cities</h2>
            </div>
          </a> 
        <div class="stats_2 frame">
          
          <!-- <img src="https://source.unsplash.com/random/700x500/?community"/> -->
        </div>

        <div class="stats_2 frame">
          
          <img src="https://source.unsplash.com/random/900×700/?volunteer"/>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- downloads section -->
<section class="download_wallpaper">
  <div class="replace_w_contentful container">
    <% posts = all_posts %>
    <div class="">
      <% posts.take(1).each do |index, post| %>
        <div class="">
          <%= partial "partials/download_list_item", :locals => { :post => post, :include_excerpt => true } %>
        </div> 
      <% end %>
    </div> 
  </div>
</section>



</body>
</html>