---
title: Welcome to Middleman
---


<h1>
  megwilliscreative netlify is not working. 
</h1>
<ol>
	<li> create new github account </li>
	<li> create new middleman site </li>
	<li> create new netlify site </li>
	<li>  netlify pulled the site from github mwc-mda account, <br> can that same Netlify account pull the old site?
	<br>
	can that same test site be pulled by the megwilliscreative git, and the megwilliscreative netlify?</li>
	<li>I think the project folder is now cloned to mwc github, now I need to update the project and check mwc repo's online, and connect mwc netlify</li>
	<li>
		<li>something broke adding a new repo, and copy/paste files in Finder</li>
		<li>error with .DS_store, mac file, hopefully okay...</li>
	</li>
	<li>worked. mda20002v3 is showing at mwc git hub, and mwc netlify </li>

</ol>