---
title: Learn
---


<!DOCTYPE html>
<html>
<head>
  <title> Movement - Learn</title>
</head>
<body>


<!-- NAME & ARROW W RED BG -->
<section class="hero">
  <div class="container">
    <div class="main-message">
      <h1>Learn <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>


<!-- engage intro + overview 'In this together'-->
<section id="intro_overview">
  <div class="container">
    <div class="learn_intro">
      <!-- <h3>Learn</h3> -->
      <img style="padding-bottom:35px;" src="/imgs/gold-coast-1280px.jpg"/>
      <h2>In this together</h2>
      <p>In this section you will find resources to inspire you to create or continue a Movement in your own community. We endeavour to connect you with theologians and practitioners from all over the world where Movement is taking place. New content will be added regularly.</p>
      <div class="learn_overview">
        <div class="learn_item">
          <h3>Theology</h3>
          <p>Christians are becoming increasingly aware of the role the church in the city. Culture is formed in cities, they are centres of education, literature, the arts, music, film, television, other media and so much more. Learn more about a metanarrative that embraces a kingdom based theology</p>
          <a href="/learn/theology.html"><button>More <i class="fas fa-chevron-right"></i></button></a>
        </div>
        <div class="learn_item">
          <h3>Podcast</h3>
          <p>In the Love Your City Podcast presenters Sam Jackson and Letitia Shelton discuss the importance of gospel movements in towns and cities around the world.</p>
          <a href="/learn/podcast.html"><button>More <i class="fas fa-chevron-right"></i></button></a>
        </div>
        <div class="learn_item">
          <h3>Stories</h3>
          <p>When Christians come together in humility and take responsibility God moves. Amazing stories are developing all around Australia</p>
          <a href="/learn/stories.html"><button>More <i class="fas fa-chevron-right"></i></button></a>
        </div>
        <div class="learn_item">
          <h3>Blog</h3>
          <p>Be encouraged as you refresh yourself in the word. Below are some short blogs that will challenge and inspire you.</p>
          <a href="/learn/blog.html"><button>More <i class="fas fa-chevron-right"></i></button></a>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- BROWSE ARTICLES = 3 X BLOGS, READ MORE -->
<section id="learn_browse">
  <div class="container border_box">
    <div class="learn_browse">
      <h2>Browse</h2>
          <!-- INSERT CONTENT FROM CONTENTFUL -->
          <% posts = all_posts %>
          <% first_post = posts.shift %>


            <div>
                <% posts.take(3).each do |index, post| %>
                  <div>
                    <%= partial "partials/learn_list_item", :locals => { :post => post, :include_excerpt => true } %>
                  </div>
                <% end %>
              </div>
          </div>

        <div style="text-align: center;">
          <code >DESIGNS SHOW A 'READ MORE' STYLE PAGINATION<br> [1] what page will this link show?</code>
        </div>
    </div> <!-- end container -->
</section>


<!-- BY CATEGORY -->
<section id="learn_category">
  <div class="container">
    <div class="learn_category" style="border-bottom:0px;">

      <div class="">
        <h2>By Category</h2>
        <code>these images are random unsplash. replace with ? </code>
        <div class="stories_grid">
          <div>
            
            <img src="https://source.unsplash.com/random/700x500?theology"/>
            <h3>Theology</h3>
          </div>
          <div>
            
            <img src="https://source.unsplash.com/random/700x500?friends"/>
            <h3>Stories</h3>
          </div>
          <div>
            
            <img src="https://source.unsplash.com/random/700x500?microphone"/>
            <h3>Podcast</h3>
          </div>
          <div>
            
            <img src="https://source.unsplash.com/random/700x500?video"/>
            <h3>Videos</h3>
          </div>
        </div>  
    </div>
  </div>
</section>









<!-- **** IMPORTANT *** -->
 <!-- ---- the style sheet still has this code in it! ---- -->
<!-- **** IMPORTANT *** -->



     <!--  <div class="learn_cat_items replace_w_contentful">
        <div class="learn_cat_item">
          <div class="learn_cat_item_img"><img src="https://source.unsplash.com/random/900×700/?books"></div>
          <div class="learn_cat_item_words">
            <div class="learn_cat_item_meta">
            <div><h4><i class="fas fa-calendar-alt"></i> 10 Feb 2018</h4></div>
            <div><h4><i class="fas fa-user-tag"></i> Nick Scott</h4></div>
            </div>
            <h2>Prayer and fasting changes the world</h2>
            <button>More <i class="fas fa-chevron-right"></i></button>
          </div>
        </div>

        <div class="learn_cat_item">
          <div class="learn_cat_item_img"><img src="https://source.unsplash.com/random/900×700/?talking"></div>
          <div class="learn_cat_item_words">
            <div class="learn_cat_item_meta">
            <div><h4><i class="fas fa-calendar-alt"></i> 10 Feb 2018</h4></div>
            <div><h4><i class="fas fa-user-tag"></i> Greigory Whittaker</h4></div>
            </div>
            <h2>Prayer and fasting changes the world</h2>
            <button>More <i class="fas fa-chevron-right"></i></button>
          </div>
        </div>

        <div class="learn_cat_item">
          <div class="learn_cat_item_img"><img src="https://source.unsplash.com/random/900×700/?feast"></div>
          <div class="learn_cat_item_words">
            <div class="learn_cat_item_meta">
            <div><h4><i class="fas fa-calendar-alt"></i> 10 Feb 2018</h4></div>
            <div><h4><i class="fas fa-user-tag"></i> Letitia Shelton</h4></div>
            </div>
            <h2>Prayer and fasting changes the world</h2>
            <button>More <i class="fas fa-chevron-right"></i></button>
          </div>
        </div> -->

        

      </div>

    </div>
  </div>
</section>





</body>
</html>