<section id="status_details">
	<div class="container">
		<div class="graph">
			<iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQbnnj_rpLVB_78Tg9nuncNJkosrvx__MzIgTZ_igaUsp7DpIreMn-FG3TnOOW-rW8OZ0z19uatp58-/pubchart?oid=890198247&amp;format=interactive"></iframe>
		</div>
		<div class="preview_links">
			<iframe width="600"  seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQbnnj_rpLVB_78Tg9nuncNJkosrvx__MzIgTZ_igaUsp7DpIreMn-FG3TnOOW-rW8OZ0z19uatp58-/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
		</div>
	</div>
</section>