<form id="ema_signup_form" target="_blank" action="https://madmimi.com/signups/standard_subscribe/522164c7f4a448f1909e8c21513c42c4" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="kSuTQ0mZzZ7UvOWbRp8uMXePqTBsIPeTrbuqtxVd4jx8PUJncEp/WD45gAC0l1iIQk4ua4qogfUZ8nUsLA5X0g==" />
  
  <p class="form_message error error-message hidden">Please ensure you provide both your name and email address.</p>
  <p class="form_message success thanks-message hidden">Thanks for subscribing to receive updates.</p>

  <input name="utf8" type="hidden" value="?" />
  <div class="form_row">
    <div class="field_container third">
      <input id="signup_name" name="signup[name]" type="text" data-required-field="This field is required" placeholder="Name" class="mimi_field required" />
    </div>
    <div class="field_container third">
      <input id="signup_email" name="signup[email]" type="text" data-required-field="This field is required" placeholder="Email address" class="mimi_field required" />
    </div>
    <div class="field_container third">
      <input type="submit" class="button red filled" value="Subscribe" id="webform_submit_button" data-default-text="Subscribe" data-submitting-text="Sending..." />
    </div>
  </div>
<p class="error-message hidden">Error</p>
<p class="thanks-message hidden">Thanks</p>
</form>
