---
title: Discover
---


<!DOCTYPE html>
<html>
<head>
  <title> Movement - Discover</title>
</head>
<body>



<!-- NAME & ARROW W RED BG -->
<section class="hero">
  <div class="container">
    <div class="main-message">
      <h1> Team <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>


<!-- 2 rows x 4 columns grid of staff profiles -->

<section class="staff_grid">
   <div class="replace_w_contentful container">
    <div class="staff_profiles_row">
      


      <div class="staff_member">
        <img src="/imgs/4-Ian-Shelton.png"/>
        <h3>Toowoomba</h3>
        <h2>Ian Shelton</h2>
        <p>Ian is married with 5 children and lives in Toowoomba, QLD. He co-ordinates Movement Australia and a national group called One Heart Australia, which works for the unity and transformation of towns and cities. For over 40 years Ian was the Senior Pastor of Toowoomba City Church, a local congregation committed to unity of the Church of the City. He also serves on a global Movement Day committee encouraging Christian leaders in unity and mission in cities around the world.</p>
                <div class="team_socials">
          <ul>
            <li><a href="https://www.facebook.com/ian.shelton.9"><i class="fab fa-facebook-f fa-2x"></i></a></li>
            <li><a href="https://www.movement.org.au"><i class="fas fa-desktop fa-2x"></i></a></li>
            <li><a href="mailto:ian@movement.org.au"><i class="fas fa-envelope fa-2x"></i></a></li>
          </ul>  
        </div><!-- socials end -->
      </div>
     

      <div class="staff_member">
        <img src="/imgs/8-Rick-Prosser.png">
        <h3>Newcastle</h3>
        <h2>Rick Prosser</h2>
        <p>Rick is a born and bred Novocastrian. He served as a C3 pastor for 15 years before stepping out in faith in 2010 to become a missionary to the city of Newcastle. In 2014 Rick was named Newcastle Citizen of the Year for his 20 plus years pioneering and leading community charity work.</p>
        <div class="team_socials">
          <ul>
            <li><a href="https://www.facebook.com/rick.prosser.1401"><i class="fab fa-facebook-f fa-2x"></i></a></li>
            <li><a href="https://kingdomworks.org.au"><i class="fas fa-link fa-2x"></i></a></li>
            <li><a href="mailto:Rick@kingdomworks.com.au"><i class="fas fa-envelope fa-2x"></i></a></li>
          </ul>  
        </div><!-- socials end -->
      </div>


      <div class="staff_member">
        <img src="/imgs/3-Hengki-Widjaja.png" />
        <h3>Wollongong</h3>
        <h2>Hengki Widjaja</h2>
        <p>INSERT_BIO</p>
                <div class="team_socials">
          <ul>
            <li><a href="https://www.facebook.com/hengki"><i class="fab fa-facebook-f fa-2x"></i></a></li>
            <li><a href="#"><i class="fas fa-link fa-2x"></i></a></li>
            <li><a href="mailto:hengki.widjaja@gmail.com"><i class="fas fa-envelope fa-2x"></i></a></li>
          </ul>  
        </div><!-- socials end -->
      </div>


      <div class="staff_member">
        <img src="/imgs/sam-jackson.png" />
        <h3>Toowoomba</h3>
        <h2>Sam Jackson</h2>
        <p>After training and serving as a Baptist pastor, Sam Jackson has spent the last few years discovering what it means to go from pastoring a local church to seeing a Gospel Movement impact a city. He is also passionate about strengthening other church leaders in his city though Lead Well. Sam is a devoted husband and father of four and loves to talk about Australian Rules Football.</p>
       <div class="team_socials">
          <ul><li><a href="https://www.facebook.com/samallenjack"><i class="fab fa-facebook-f fa-2x"></i></a></li>
            <li><a href="mailto:samallenjack@gmail.com"><i class="fas fa-envelope fa-2x"></i></a></li></ul>
        </div><!-- socials end -->
      </div>
     
    </div> <!-- END ROW ONE -->
    


    <div class="staff_profiles_row">

      <!-- START ROW TWO -->
      <div class="staff_member">
        <img src="/imgs/2-Greigory-Whittaker.png">
        <h3>Ryde</h3>
        <h2>Greigory Whittaker</h2>
        <p>Greig has a passion to see the church intimately connecting through vibrant relationships of local pastors and to see the unified church pastor the city together to see the city flourish in the Kingdom of God. He believes the church has the message of life and healing that our communities so desperately need and therefore has a critical role to play in the life of every city and town. Greig also has a passion to see new modes of church birthed that give greater access to faith pathways and Jesus community for people who have rejected, or are not open to explore, the Sunday Gathered church model.</p>
        <div class="team_socials">
          <ul>            
            <li><a href="https://www.salvationarmy.org.au/ryde/church-podcast/greig-whittaker-restored-humanity/"><i class="fas fa-link fa-2x"></i></a></li>
            <li><a href="mailto:greigory.whittaker@aue.salvationarmy.org"><i class="fas fa-envelope fa-2x"></i></a></li>
          </ul>  
        </div><!-- socials end -->
      </div>
     


      <div class="staff_member">
        <img src="/imgs/6-Letitia-Shelton.png">
        <h3>Toowoomba</h3>
        <h2>Letitia Shelton</h2>
        <p>Letitia Shelton is an ordained pastor and works with leaders from across her city to make an impact on the lives of women and girls across the city. She travels and speaks about city church unity and how it has tackled many social justice issues that women face on a daily basis.</p>
                <div class="team_socials">
          <ul>
            <li><a href="https://www.facebook.com/letitia.shelton"><i class="fab fa-facebook-f fa-2x"></i></a></li>
            <li><a href="https://www.citywomen.com.au"><i class="fas fa-link fa-2x"></i></a></li>
            <li><a href="mailto:letitia@citywomen.com.au"><i class="fas fa-envelope fa-2x"></i></a></li>
          </ul>  
        </div><!-- socials end -->
      </div>



      <div class="staff_member">
        <img src="/imgs/7-Nick-Scott.png">
        <h3>Perth</h3>
        <h2>Nick Scott</h2>
        <p>Nick is the Senior Pastor of Mount Pleasant Baptist Church, a large, thriving church in the inner southern suburbs of Perth, Western Australia. One of Nick’s great passions is for unity across the full spectrum of the Body of Christ. He is actively involved in various networks across the city of Perth, which encourage prayer and unity between pastors and leaders, breaking down barriers between denominations.</p>
                <div class="team_socials">
          <ul>            
            <li><a href="https://mounties.org.au"><i class="fas fa-link fa-2x"></i></a></li>
            <li><a href="mailto:nick.scott@mounties.org.au"><i class="fas fa-envelope fa-2x"></i></a></li>
          </ul>  
        </div><!-- socials end -->
      </div>
  


      
    </div>
  </div>
</section>
<!-- all sections finished -->
</body>
</html>