---
title: Team
---


<!DOCTYPE html>
<html>
<head>
  <title> Movement - Team</title>
</head>
<body>



<!-- NAME & ARROW W RED BG -->
<section class="hero">
  <div class="container">
    <div class="main-message">
      <h1> Team 2 <i class="fas fa-arrow-down"></i></h1>
    </div>
  </div>
</section>


<!-- 2 rows x 4 columns grid of staff profiles -->

<section class="">
   <div class="replace_w_contentful container">

   	<h3>Committee</h3>
	    <ul class="staff_grid"> 
	      <% committee_members.each do |index, person| %>
	        <li class="staff_member">
	          <%= partial "partials/people_list_item", :locals => { :person => person } %>
	        </li>
	      <% end %>
	    </ul>     
    </div>
  </div> <!-- end container -->
</section>
<!-- all sections finished -->
</body>
</html>