<section id="committee" class="red">
  
  <div class="content">
    <ul class="people red">
      <% committee_members.each do |index, person| %>
        <li class="person">
          <%= partial "partials/people_list_item", :locals => { :person => person } %>
        </li>
      <% end %>
    </ul>
  </div>
  <a href="#our-committee" class="scroll_to scroll_down">Scroll down</a>
</section>