
<!-- hero "you are the movement." -->
<section class="hero">
  <div class="container">
    <h2 style="padding-bottom:35px; color:#ffffff!important;"><i>Together</i>, local Ministers, local Christian<br>
        leaders, local churches and local<br>
        organisations are uniquely positioned<br>
        to bring social, cultural and spiritual<br>
        change <i>in their city, for their city.</i></h2>
    <h1 style="text-align: right;"> You are the Movement.<br>
    <a href="#whats-happening"><i class="fas fa-arrow-down"></i></a></h1>
    
  </div>
</section>
<section>
	<div class="container">
		<button id="openModalBtn">Open Popup</button>
	</div>
</section>

<!-- timed email popup -->
<div class="modal_overlay" id="modal_overlay">
	<div class="modal" id="modal">



		<div class="modal-content">
			<div class="modal_close" id="closeModalBtn">
				<div><a class="close"><h3>close</h3></a></div>
				<div><a class="close_x"><h3>×</h3></a></div>
			</div>
			<div class="modal-header">
				<div class="modal_title">
					<h2>Download our vision book</h2>
				</div>
				<div class="modal_image">
					<img src="/imgs/Book-Mockup-min.png">
				</div>
			</div>

			<div class="modal-body">			
		<!-- INSERT POPUP CONTENT -->
			    <div class="modal_form">
			      	<form>
			      		<input type="text" name="name" placeholder="First Name">
			      		<input type="email" name="email" placeholder="Email">
			      		<button class="btn-white">Submit</button>
			      	</form>
			    </div>
			</div> <!-- end modal body -->



		</div> <!-- end modal content -->
	</div> <!-- end modal -->
</div>

<!-- ============  PREVIOUS VERSION ==================== -->


        <!-- --- POPUP --- -->
    <div id="email_popup">
      <div class="container">
        <div class="close_x"><h3>Close <i class="fas fa-times"></i></h3></div>
        <div class="popup_frame">
          <div class="popup_text"><h2>Download Our Vision Book</h2></div>
          <div class="popup_image"><img src="imgs/Book-Mockup-min.png"></div>
        </div>
        <div class="popup_form">
          <form>
            <input type="text" name="First Name" placeholder="First Name"><br>
            <input type="email" name="Email" placeholder="Email"><br>
            <button>Submit <i class="fas fa-chevron-right"></i></button>
          </form>
        </div>
      </div>
    </div><!-- --- END POPUP --- -->


