<div class="container">
  <form 
  name="Contact Form Test Recreated" 
  method="POST" 
  data-netlify-recaptcha="false" 
  data-netlify="true"   
  action="/thanks-contact.html"
  >
    <p><input type="text" id="fname" name="First Name" placeholder="First Name" required ></p>
    <p><input type="text" id="lname" name="Last Name" placeholder="Last Name"></p>
    <p><input type="email" id="email" name="Email" placeholder="Email" required ></p>
    <p><label for="message">Message</label>
        <textarea id="message" name="Message" placeholder="Message" rows="10"></textarea></p>
    <p><button 
      type="submit"
      name="submit"
      >
      Send <i class="fas fa-chevron-right"></i>
    </button></p>
  </form>
</div>


<hr>
<div class="leave_message">

        <form
        >
          <br><br>
          <br><br>
          
          

          <button type="submit" name="submit" value="Submit" 
            data-callback='onSubmit' 
            data-action='submit'
            >
            
          </button>

        </form>
      </div>