---
layout: test
---

<!-- whats happening -->
<section id="whats-happening" class="whats_happening">
  <div class="container">
    <h3>What's Happening</h3>

    <% posts = all_posts %>
    <div><!--  class="recent_posts"> -->
      <% posts.take(1).each do |index, post| %>
        <div><!--  class="post"> -->
          <%= partial "partials/announcements_list_item", :locals => { :post => post, :include_excerpt => true } %>
        </div> <!-- end post -->
      <% end %>
    </div> <!-- end recent posts -->
  </div>
</section>