<section><div class="container hero"><h1>Test Page</h1></div></section>
<section><div class="container">
<!----------------------------- TEST *BELOW* THIS LINE ------------------------>
<div class="replace_w_contentful" style="padding:35px;">
  <h3>TRYING TO ACHIEVE:</h3>
  <h4>METHOD</h4>
  <p>Use rails, and middleman to pull in data from data.website.supporter</p>
  <ol style="padding:5px 15px;"><li>copy contenful code from tim</li>
    <li>create partial</li>
    <li>create helper</li>
    <li>turn on module required in config</li>
  </ol>
</div>


<div>
<!-- insert contentful code from tims site -->








</div>
<!----------------------------- TEST *ABOVE* THIS LINE ------------------------>
</div></section>