<section><div class="container hero"><h1>Test Page</h1></div></section>
<section><div class="container">
<!----------------------------- TEST *BELOW* THIS LINE ------------------------>
<div class="replace_w_contentful" style="padding:35px;">
  <h3>TRYING TO ACHIEVE:</h3>
  <h4>METHOD</h4>
  <p>Use rails, and middleman to pull in data from data.website.supporter</p>
  <ol style="padding:5px 15px;"><li>copy contenful code from tim</li>
    <li>create partial</li>
    <li>create helper</li>
    <li>turn on module required in config</li>
  </ol>
</div>


<div>
<!-- insert contentful code from tims site -->
</div>

<hr> <!-- --------------------------------------------- -->


<div>
      <div class="leave_message">

          <form id="mda_engage" action="/test-page.html" data-netlify="true">
            <input type="text" id="fname" name="First Name" placeholder="First Name"><br><br>
            <input type="text" id="lname" name="Last Name" placeholder="Last Name"><br><br>
            <input type="email" id="email" name="Email" placeholder="Email"><br><br>
            <label for="message">Message</label><br>
            <textarea id="message" name="Message" rows="4"></textarea>
            <br><br>
            <div>
              <div data-netlify-recaptcha="true"></div>
            </div>
            <button type="submit" value="Submit" 
              class="g-recaptcha" 
              data-sitekey="6LdOQqgZAAAAALCX1ER_gJy9OVUKJob7x290LNIC" 
              data-callback='onSubmit' 
              data-action='submit'>
              Send <i class="fas fa-chevron-right"></i></button>

          </form>

      </div>


</div> <!-- end contact form -->

<!-- PREVIOUS FORM ON ENGAGE -->

.leave_message {
	width:50%;
	padding:0 35px;
}



<form id="" target="" action="#" accept-charset="UTF-8" method="post">
           <!-- <form id="ema_signup_form" target="_blank" action="https://madmimi.com/signups/subscribe/60023" accept-charset="UTF-8" method="post"> -->
          <div class="field_container"><input type="name" name="Fname" value="First Name"></div>
          <div class="field_container"><input type="name" name="lname" value="Last Name"></div>
          <div class="field_container"><input type="email" name="email" value="Email"></div>
          <div class="field_container"><input type="text" name="city" value="City"></div>
          <div class="field_container"><p>Message</p><textarea rows="5" name="message"></textarea></div>
          <button type="submit"> Send <i class="fas fa-chevron-right"></i></button>
        </form>








<!----------------------------- TEST *ABOVE* THIS LINE ------------------------>
</div></section>