<section id="thanks">
	<div class="container">
		<div class="thanks">
			<h3>Please check your email</h3>
			<p>Make sure to check your spam for any emails from admin@movement.org.au</p>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div>
			<h2>Insert Latest events, or if none show posts</h2>
		</div>
	</div>
</section>