
<% posts = all_posts %>

<section id="thanks">
	<div class="container">
		<div class="thanks">
			<h3>Please check your email</h3>
			<p>Make sure to check your spam for any emails from admin@movement.org.au</p>
		</div>
	</div>
</section>


<section>
  <div class="container">
    <div class=" border_box">

    <div class="">
      <h2>Recent Posts</h2>
      <div class="blog_grid">

          <% posts.take(4).each do |index, post| %>
            <div class="blog_grid_item">
              <%= partial "partials/post_grid_item", :locals => { :post => post, :include_excerpt => false } %>
            </div>
          <% end %>
      </div>

    </div>
  </div> <!-- end container -->
</section>