<section id="thanks">
	<div class="container">
		<div class="thanks">
			<h1>Uh-oh</h1>

			<h3>Looks like the page you're looking for isnt here.</h3>
			<h2>If you clicked a link to get here, please let us know.</h2>
		</div>
	</div>
</section>

<%= partial "partials/e_signup_lrg" %>
